<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>HIV Test Kits</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cmbScreeningTestKit">Screening Test Kit</label>
                        <select id="cmbScreeningTestKit" v-model="screeningTestKit" class="form-control">
                            <option v-for="product in baseProductList" :value="product"> {{product.productName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cmbConfirmatoryTestKit">Confirmatory Test Kit</label>
                        <select id="cmbConfirmatoryTestKit" v-model="confirmatoryTestKit" class="form-control">
                            <option v-for="product in baseProductList" :value="product"> {{product.productName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveKitsHandler(changeTestKitRequest)">Save</button>
            <button type="button" class="btn btn-danger" @click="closedHandler()">Cancel</button>
        </div>
    </modal>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import modal from 'vue-strap/src/Modal'
    import NodeProducts from '../../../mixins/NodeProducts'
    var context = {}
    export default{
        props:{
            saveKitsHandler: {
                type: Function
            },
            closedHandler: {
                type: Function
            },
            show:{
                type: Boolean,
                default: false
            },
            currentScreeningTestKit:{
                type:Object
            },
            currentConfirmatoryTestKit:{
                type:Object
            }
        },
        data(){
            return {
                screeningTestKit: {},
                confirmatoryTestKit:{},
                showModal: false,
                baseProductList:[],
                HIV: "HIV"
            }
        },
        mixins:[
            NodeProducts
        ],
        beforeMount() {
            context = this
        },
        mounted(){
            context.loadNodeProducts(context.$store.state.persistedState.node.id, context.HIV)
        },
        components:{
            modal
        },
        watch:{
            show: function(value){
                this.showModal = value
            },
            currentScreeningTestKit: function (value) {
                this.screeningTestKit = value.product.id
            },
            currentConfirmatoryTestKit: function (value) {
                this.confirmatoryTestKit = value.product.id
            }
        },
        computed: {
            changeTestKitRequest(){
                console.log(context.screeningTestKit)
                return {
                    screeningTestKitProductId: context.screeningTestKit.productId,
                    confirmatoryTestKitProductId: context.confirmatoryTestKit.productId
                }
            }
        }
    }
</script>