<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <navbar type="inverse" placement="top">
            <!-- Brand as slot -->
            <a slot="brand" href="/dashboard" title="Home" class="navbar-brand app-name">
                <button type="button" class="navbar-toggle side-bar-toggle collapsed" aria-expanded="false" @click="toggleSideMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                  <img src="../../assets/img/elmis.png" alt="eLMIS Facility Edition">
                </span>
                {{ $t("message.appName") }}
            </a>
            <!-- side-menu -->
            <ul slot="left" class="nav navbar-nav side-nav">
                <li>
                    <router-link :to="{ name: 'dashboard'}"><i class="fa fa-home"></i> Dashboard</router-link>
                </li>
                <li class="dropdown" v-if="hasPermission('DEFINE STORES') || hasPermission('DEFINE DISPENSARIES') ||
                                           hasPermission('MANAGE ROLES') || hasPermission('MANAGE USERS') ||
                                           hasPermission('DEFINE SYSTEM SETTINGS')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table"></i> Admin <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-if="hasPermission('DEFINE STORES') || hasPermission('DEFINE DISPENSARIES')">
                            <router-link :to="{ name: 'program_node'}"><i class="fa fa-eye"></i> Manage nodes</router-link>
                        </li>
                        <li v-if="hasPermission('MANAGE ROLES') || hasPermission('MANAGE USERS')">
                            <router-link :to="{ name: 'manage_users'}"><i class="glyphicon glyphicon-user"></i> Manage users</router-link>
                        </li>
                        <li v-if="hasPermission('DEFINE SYSTEM SETTINGS')">
                            <router-link :to="{ name: 'system_settings'}"><i class="glyphicon glyphicon-cog"></i> Manage System Setting</router-link>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" v-if="hasPermission('HIV TEST') || hasPermission('ARV DISPENSATION') ||
                                           hasPermission('EM DISPENSATION') || hasPermission('RECEIVE PRODUCTS') ||
                                           hasPermission('ISSUE PRODUCTS') || hasPermission('BULK CONSUMPTION') ||
                                           hasPermission('REVERSE TRANSACTIONS')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table"></i> Transactions <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-if="hasPermission('HIV TEST')">
                            <router-link :to="{ name: 'hiv_tests'}"><i class="fa fa-hospital-o"></i> HIV Tests</router-link>
                        </li>
                        <li v-if="hasPermission('ARV DISPENSATION') || hasPermission('EM DISPENSATION')">
                            <router-link :to="{ name: 'dispense'}"><i class="fa fa-hospital-o"></i>Dispense Drugs</router-link>
                        </li>
                        <li v-if="hasPermission('RECEIVE PRODUCTS')">
                            <router-link :to="{ name: 'receive_products'}"><i class="fa fa-truck"></i> Receive Products</router-link>
                        </li>
                        <li v-if="hasPermission('ISSUE PRODUCTS')">
                            <router-link :to="{ name: 'issue_products'}"><i class="fa fa-upload"></i> Issue Products</router-link>
                        </li>
                        <li v-if="hasPermission('BULK CONSUMPTION')">
                            <router-link :to="{ name: 'bulk_consumption'}"><i class="fa fa-check"></i> Bulk Consumption</router-link>
                        </li>
                        <li v-if="hasPermission('REVERSE TRANSACTIONS')">
                            <router-link :to="{ name: 'transaction_reversal'}"><i class="glyphicon glyphicon-random"></i> Transaction Reversal</router-link>
                        </li>
                    </ul>
                </li>


                <li class="dropdown" v-if="hasPermission('VIEW STOCK CONTROL CARD') || hasPermission('ADJUSTMENT') ||
                                           hasPermission('PHYSICAL COUNT') || hasPermission('VIEW PPRODUCT STATUS')">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table"></i> Stock <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-if="hasPermission('VIEW STOCK CONTROL CARD')">
                            <router-link :to="{ name: 'stock_control_card'}"><i class="fa fa-eye"></i> Stock Control Cards</router-link>
                        </li>
                        <li v-if="hasPermission('ADJUSTMENT')">
                            <router-link :to="{ name: 'adjust'}"><i class="fa fa-eye"></i> Adjust </router-link>
                        </li>
                        <li v-if="hasPermission('PHYSICAL COUNT')">
                            <router-link :to="{ name: 'physical_count'}"><i class="fa fa-table"></i> Physical Count </router-link>
                        </li>
                        <li v-if="hasPermission('VIEW PPRODUCT STATUS')">
                            <router-link :to="{ name: 'product_status'}"><i class="glyphicon glyphicon-flag"></i> Product Status </router-link>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" v-if="hasPermission('VIEW ARV DAR')">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table"></i> Reports <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-if="hasPermission('VIEW ARV DAR')">
                            <router-link :to="{ name: 'dar'}"><i class="fa fa-eye"></i> Daily Activity Register</router-link>
                        </li>
                    </ul>
                </li>


                <li class="dropdown" v-if="hasPermission('VIEW HUB R&R')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table"></i> Requisition <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li v-if="hasPermission('VIEW HUB R&R')">
                            <router-link :to="{ name: 'offlineRnr'}"><i class="fa fa-eye"></i> Create Requisition</router-link>
                        </li>

                    </ul>
                </li>
            </ul>

            <!-- user menu -->
            <ul slot="right" class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {{ currentUserFullName }} <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><router-link :to="{ name: 'dashboard'}"><i class="fa fa-gear"></i> Settings</router-link></li>
                        <li class="divider"></li>
                        <li><a href="#" v-on:click="logOut($event)"><i class="fa fa-power-off"></i> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </navbar>

            <div class="row pull-up-in-header">
                <div class="col-md-6">
                    <h5>
                        <strong>{{ facilityName }}</strong>
                    </h5>
                </div>

                <div class="col-md-6">
                    <h5>You are in : <strong>{{ nodeName }}</strong></h5>
                </div>
        </div>
        <progress-indicator></progress-indicator>
    </div>
</template>
<script>
    import alert from 'vue-strap/src/Alert'
    import dropdown from 'vue-strap/src/Dropdown'
    import navbar from 'vue-strap/src/Navbar'
    import {createHttpWithHeaders} from '../../assets/js/http_common'

    import permissions from '../../mixins/Permissions'

    import $ from 'vue-strap/src/utils/NodeList.js'


    var context = {}
    var httpInstance = createHttpWithHeaders({})

    export default {
        data(){
            return {
                sideNavCollapsed : undefined,
                currentNode: this.$store.state.persistedState.node,
                nodes : []
            }
        },
        mixins:[
            permissions
        ],
        beforeMount(){
            context = this
            context.loadNodes()
        },
        mounted(){
            var sideNavCollTemp = context.$store.state.persistedState.sideNavCollapsed
            if(sideNavCollTemp!==undefined){
                context.sideNavCollapsed = sideNavCollTemp
                context.onSideNavCollapsedChanged(context.sideNavCollapsed)
            }
        },
        computed:{
            facilityName(){
                return context.$store.state.persistedState.facility.name
            },
            nodeName(){
                return context.$store.state.persistedState.node.name
            },
            currentUserFullName(){
                var user = context.$store.state.persistedState.user
                return user.firstname + " " + user.lastname
            },
            visibleNodes(){
                return context.nodes.filter(function (node) {
                    return node.visibleForLogin
                })
            }
        },
        components: {
            alert,
            dropdown,
            navbar
        },
        methods: {
            toggleSideMenu(e){
                e && e.preventDefault()
                this.sideNavCollapsed = !this.sideNavCollapsed
                this.$store.dispatch('setSideNavCollapsed', this.sideNavCollapsed)
            },
            logOut: function(event){
                event.preventDefault()
                this.$store.dispatch('reset',{})
                this.$router.push({ name: 'login'})
            },
            loadNodes: function(){
                httpInstance.get('/get-all-nodes').then(function(response){
                    context.nodes = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            onSideNavCollapsedChanged(value){
                let pageWrapper = $('.page-wrapper')
                let sideNav = $('.side-nav')
                if(value){
                    pageWrapper.addClass('remove-page-wrapper-padding')
                    sideNav.addClass('sideNavCollapsed')
                }else{
                    pageWrapper.removeClass('remove-page-wrapper-padding')
                    sideNav.removeClass('sideNavCollapsed')
                }
            }
        },
        watch:{
            sideNavCollapsed : function(value){
                context.onSideNavCollapsedChanged(value)
            }
        }
    }
</script>
<style>
    .user-panel{
        position: relative;
        width: 100%;
        padding: 10px;
        overflow: hidden;
    }

    .user-panel > .info {
        padding: 5px 5px 5px 15px;
        line-height: 1;
        position: absolute;
        left: 55px;
    }

    .side-bar-toggle{
        display: none;
    }

    .pull-up-in-header{
        margin-top: -50px;
        z-index: 1030;
        position: fixed;
        width: 50%;
        margin-left: 225px;
        margin-right: 10%;
        padding-top: 8px;
    }

    .pull-up-in-header h5{
        color:#FFFFFF;
    }


    .app-name{
        font-size: 12px;
    }
    @media (min-width: 768px){

        .side-bar-toggle{
            display: block;
            padding: 9px 10px;
            float: left;
            margin-right: 10px;
        }
        .sideNavCollapsed{
            width: 0px;
        }
    }


    .remove-page-wrapper-padding{
        padding-left: 25px;
    }



</style>
