<template>
    <div v-if="loading" class="row">
        <div class="modal fade in" style="display: block; background-color: rgba(0,0,0,0.7);">
            <div class="modal-dialog" style="width: 100px;">
                <div class="modal-content" style="background-color: transparent; margin-top: 300px; box-shadow: none;">
                    <div class="modal-body">
                        <fade-loader :loading="loading" :color="color"></fade-loader>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import store from '../../store'
    export default{
        name: 'ProgressIndicator',
        data(){
            return {
                color: '#FFF',
                height: '120px',
                width: '300px',
            }
        },
        computed:{
            loading(){
                return store.state.persistedState.loading
            }
        }
    }
</script>