<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>R&R Line Item Adjustments</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <table>
                <tbody>
                <tr>
                    <td>

                        <label for="adjustemntSelectionId">Adjustemnet Name</label>
                        <select id="adjustemntSelectionId" v-model="val.adjustmentType">
                            <option v-for="p in filteredAdjustementTypes"
                                    :value="p">{{p.name}}
                            </option>
                        </select>

                    </td>
                    <td>
                        <label for="adjustmeentQuantity">Adjustemnet Quantity</label>
                        <input id="adjustmeentQuantity" type="number" v-model="val.adjustmentQty"/>
                    </td>
                    <td>

                        <button type="button" class="btn btn-primary" id="btnAddRow" @click="addRow()">add row</button>
                    </td>
                </tr>
                </tbody>

            </table>
            <br/><br/>
            <div v-if="productAdjustments.length===0">
                <span>No Adjustment Type Has been Added</span>
            </div>
            <div v-if="productAdjustments!==null &&productAdjustments!==undefined && productAdjustments.length>0">
                <table id="example"
                       class="table table-striped table-bordered table-hover dataTable"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>

                        <th>#S/no</th>
                        <th>Adjustemnet Name</th>
                        <th>Amount</th>
                        <th></th>

                    </tr>

                    </thead>

                    <tbody>

                    <tr v-for="(item,index) in productAdjustments">
                        <td>
                            {{index + 1}}
                        </td>
                        <td>{{item.lossesAndAdjustmentType}}

                        </td>

                        <td><input type="number" v-model="item.quantity"/></td>
                        <td>

                            <button class="btn btn-danger btn-xs" @click="removeRow(index)">remove row</button>
                        </td>
                    </tr>


                    </tbody>
                    <tfoot>
                    <tr>
                        <td style="text-align: right" colspan="2"><strong>Total</strong></td>
                        <td colspan="2">{{totalRow}}</td>
                    </tr>

                    </tfoot>
                </table>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveAdjustmentHandler()">Save</button>
            <button type="button" class="btn btn-danger" @click="closedHandler()">Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import {_} from 'vue-underscore';
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../../assets/js/http_with_token'
    var context = {}
    export default{
        props: {
            showChangeAdjustmentModal: {
                default: false
            }, productAdjustments: {
                type: Array
            }, adjustmentTypeList: {
                type: Array
            }, selectedLineItem: {
                type: Object
            }, saveAdjustmentHandler: {
                type: Function,
                default: function () {
                    alert('No function provided for this action!')
                }
            },
            closedHandler: {
                type: Function,
                default: function () {
                }
            }
        },
        computed: {
            filteredAdjustementTypes: function () {
                var filteredList = [];

                var val;
                for (var i = 0; i < context.adjustmentTypeList.length; i++) {
                    var type = context.adjustmentTypeList[i];
                    if (context.productAdjustments !== null && context.productAdjustments !== undefined && context.productAdjustments.length > 0) {
                        val = _.find(context.productAdjustments, function (adj) {
                            return adj.adjustmentType !== undefined && type.name === adj.adjustmentType.name;
                        })
                    }
                    if (val === null || val === undefined) {
                        filteredList.push(type)
                    }
                }
                return filteredList;

            }
            , totalRow: function () {

                return _.reduce(context.productAdjustments, function (a1, a2) {

                    var b2 = a2.additive ? parseInt(a2.quantity) : -1 * parseInt(a2.quantity);
                    return  parseInt(a1) +parseInt( b2);
                }, 0);


            }
        },
        data(){
            return {
                showModal: this.showChangeAdjustmentModal,
                regimenSelected: {},
                regimenCategorySelected: {},
                regimenCategories: [],
                regimens: [],
                val: {}


            }
        },
        beforeMount()
        {
            context = this
            context.$store.dispatch('setShowBatchPanel', false)

        }
        ,
        beforeDestroy()
        {
            context.$store.dispatch('setShowBatchPanel', true)
        }
        ,
        components: {
            'modal': modal
        }
        ,
        watch: {
            showChangeAdjustmentModal: function (value) {
                context.showModal = value
                if (!value) {
//                    context.resetData()
                }
            }
        }
        ,
        methods: {
            addRow: function () {
                var adj = {
                    lossesAndAdjustmentType: context.val.adjustmentType.name,
                    adjustmentType: context.val.adjustmentType,
                    additive: context.val.adjustmentType.additive,
                    quantity: context.val.adjustmentQty
                }
                context.productAdjustments.push(adj);


            }
            ,
            removeRow: function (index) {
                context.productAdjustments.splice(index, 1);


            }

            ,
            resetData()
            {
                context.regimenSelected = {}
                context.regimenCategorySelected = {}
                context.regimens.length = 0
            }

        }
        ,
        mixins: []
    }
</script>
<style>
    tfoot {
        display: table-footer-group;
        vertical-align: middle;
        border-color: inherit;
        border-top: 2px solid #0d6aad;
        font-size: 1.2em;
        font-weight: bolder;
        background-color: rgba(34, 45, 50, 0.26);
        color: white;
    }
</style>