<template>

    <div class="container">
        <changeadjustment :adjustmentTypeList="adjustmentTypeList" :productAdjustments="productAdjustments"
                          :selectedLineItem="selectedLineItem"
                          :saveAdjustmentHandler="saveAdjustment" :showChangeAdjustmentModal="showChangeAdjustmentModal"
                          :closedHandler="changeAdjustmentModalClosed"></changeadjustment>
        <div class="row">
            <!--<modal v-model="showSuccessAlert" @ok="showSuccessAlert = false" effect="fade">-->
            <!--<div slot="modal-header" class="modal-header modal-header-info">-->
            <!--<h4 class="modal-title">-->
            <!--<b>Offline Requisition</b>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div slot="modal-body" class="modal-body">-->
            <!--<p>RnR Saved successfully!</p>-->
            <!--</div>-->
            <!--&lt;!&ndash; custom buttons &ndash;&gt;-->
            <!--<div slot="modal-footer" class="modal-footer">-->
            <!--<button type="button" class="btn btn-success" @click="showSuccessAlert = false">Ok</button>-->
            <!--</div>-->
            <!--</modal>-->

            <!--<modal v-model="showErrorAlert" @ok="showErrorAlert = false" effect="fade">-->
            <!--<div slot="modal-header" class="modal-header modal-header-danger">-->
            <!--<h4 class="modal-title">-->
            <!--<b>Offline Requisition</b>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div slot="modal-body" class="modal-body">-->
            <!--<p>An error has occurred!</p>-->
            <!--</div>-->
            <!--&lt;!&ndash; custom buttons &ndash;&gt;-->
            <!--<div slot="modal-footer" class="modal-footer">-->
            <!--<button type="button" class="btn btn-danger" @click="showErrorAlert = false">Ok</button>-->
            <!--</div>-->
            <!--</modal>-->
        </div>
        <div class="container-fluid">

            <div class="info-box1 padding2px">
                <div class="pull-left">
                    <div v-bind:class="{'emergency': rnr.emergency, 'regular': !rnr.emergency}">
                        <span>Requistion Type</span>
                    </div>

                </div>
                <div class="pull-left requisition-head-block">
                    <div class="row-fluid" id="requisition-head-block">
                        <div class="col-md-3">
                            <strong id='facilityLabel'> Faciltity</strong>:&nbsp;<span
                                id='facility'>{{rnr.facilityCode}}_{{rnr.facilityName}}</span>
                        </div>
                        <div class="col-md-3">
                            <strong id='operatedByLabel'>Operated By</strong>: &nbsp;<span
                                id='operatedBy'></span>
                        </div>

                        <div class="col-md-3">
                            <strong id='emergencyOrderLabel'>Emergency Order Point</strong>:
                            &nbsp;<span
                                id='emergencyOrderPoint'></span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-3">
                            <strong><span id='geographicZoneLabel'></span>:
                            </strong><span
                                id='geographicZone'></span>
                        </div>
                        <div class="col-md-3">
                            <strong><span id='parentLevelLabel'></span>:
                            </strong><span
                                id='parentLevel'></span>
                        </div>
                        <div class="col-md-3">
                            <strong id='reportingPeriodLabel'>Reporting Period</strong>:&nbsp;<span
                                id='reportingPeriod'>{{rnr.periodName}}</span>
                        </div>
                        <div class="col-md-3">
                            <strong id='sourceLabel'>Source</strong>:&nbsp;<span
                                id='source'></span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="emergency" id="emergency"
                                   v-model="rnr.emergency" value="am" checked>Emergency
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input  v-on:click="setRnrSubmissionStatus" :disabled="!rnr.synced" type="checkbox" name="ready-submission"
                                   id="is_ready_for_submission"
                                   v-model="rnr.chkFlagForSubmission" value="pm" checked>Ready For Submission
                        </label>
                    </div>
                </div>

            </div>


            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<input style="min-width:200px; margin-left:-60px; margin-bottom:3px;" placeholder="search by product code or name" class="pull-left"-->
                           <!--v-model="query" type="search"/>-->
                <!--</div>-->

            <!--</div>-->

            <div class="row">
                <div class="col-md-12">


                    <div style="height: 400px" id="fixed-table-container" class="fixed-table-container">
                        <table class="table ">
                            <thead>

                            <tr>
                                <th>
                                    <div>Skip</div>
                                    <div><a @click="selectDeselectAll(false)">none</a>|<a
                                            @click="selectDeselectAll(true)">All</a></div>
                                </th>


                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Unit</th>
                                <th>Balance</th>
                                <th>Received</th>
                                <th>Dispensed</th>
                                <th>Phy. Count</th>
                                <th> Stocked days</th>
                                <th>Adjust</th>
                                <th>AMC</th>
                                <th>Max Qty</th>
                                <th>Requested Qty</th>
                                <th>Remark</th>

                            </tr>
                            </thead>

                            <tbody>

                            <tr v-bind:class="{ 'td-error': !isValidRnr(item) }"
                                v-for="item in blankOfflineRequisitionLineItems">
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input type="checkbox"
                                                                                            v-model="item.skipped">
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.productCode}}</td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.productName}}</td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.dispensingUnit}}</td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">
                                    <input style="max-width: 60px"
                                           :disabled="true"
                                           type="number"
                                           v-model="item.beginningBalance">
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">
                                    <input style="max-width: 60px" :disabled="item.skipped" type="number"
                                           v-model="item.quantityReceived">
                                </td>
                                <td v-bind:class="{ 'td-error': !item.validRnr }"><input style="max-width: 60px"
                                                                                            :disabled="item.skipped"
                                                                                            type="number"
                                                                                            v-on:change="calculateAmc(item)"
                                                                                            v-model="item.quantityDispensed"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item)}"><input style="max-width: 60px"
                                                                                           :disabled="item.skipped || !item.dmInstance"
                                                                                           type="number"
                                                                                           v-model="item.stockOnHand"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 70px"
                                                                                            :disabled="item.skipped || !item.dmInstance"
                                                                                            type="number"
                                                                                            v-model="item.stockOutDays"/>
                                </td>
                                <td style="max-width: 70px;min-width: 70px"
                                    v-bind:class="{ 'td-error': !isValidRnr(item) }"><a :disabled="item.skipped"
                                                                                        v-on:click=" changeAdjustment(item)"
                                > <span class="glyphicon glyphicon-pencil"></span>{{item.totalAdjustment}}</a></td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 60px"
                                                                                            :disabled="true"
                                                                                            type="number"
                                                                                            v-model="item.amc"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 60px"
                                                                                            :disabled="true"
                                                                                            type="number"
                                                                                            v-model="item.maxStockQuantity"/></td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 60px"
                                                                                            :disabled="true"
                                                                                            type="text"
                                                                                            v-model="item.qantityRequested"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="min-width: 200px"
                                                                                            :disabled="true"
                                                                                            type="number"
                                                                                            v-model="item.qantityApproved"/>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <br/><br/><br/>
                </div>
            </div>

            <!--<footer style="min-height: 50px" class="navbar-default navbar-fixed-bottom">-->
            <!--<div class="container-fluid">-->
            <!--<div class="row">-->
            <!--<div class="col-md-1">-->
            <!--<button v-on:click="saveRnRInformation()" type="button" class="btn btn-primary pull-left">-->
            <!--Save-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="col-sm-11 col-md-11">-->
            <!--<div class="alert alert-success fade in">-->
            <!--<button type="button" class="close" data-dismiss="alert">-->
            <!--×-->
            <!--</button>-->
            <!--<span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>-->

            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


            <!--</div>-->
            <!--</footer>-->

            <div class="col-xs-12 static-action-bar ">

                <div class="row">
<div class="col-md-1">
                    <button v-on:click="saveRnRInformation()" type="button" class="btn btn-primary pull-left">
                        Save
                    </button>
</div>
                    <div class="col-md-1">
                    <button type="button" v-if="rnr.isForupdate && !rnr.synced" v-on:click="synchronize()"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-refresh"></span> Sync
                    </button>

                    </div>
                    <div class="col-md-10">
                    <div v-if="showMessage|| callbackResponse.showMessage" style="background: transparent"
                         class="alert alert-message "
                         v-bind:class="{ 'alert-success': response.isSuccess||callbackResponse.isSuccess, 'alert-error': !response.isSuccess||!callbackResponse.isSuccess }">
                        <button v-on:click="closeMessage" type="button" data-dismiss="alert" class="close">
                            ×
                        </button>
                        <span v-if="!response.isSuccess||!callbackResponse.isSuccess" class="glyphicon glyphicon-danger"></span>
                        <span v-if="response.isSuccess ||callbackResponse.isSuccess" class="glyphicon glyphicon-ok"></span>
                       <span>{{callbackResponse.message}}</span> {{response.message}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../../assets/js/http_with_token'
    import changeadjustment from './change-adjustment'
    import {_} from 'vue-underscore';
    import FixedTable from '../../../mixins/fixed-table'
    var context = {}


    export default({
        props: {
            facilities: {
                type: Array
            },
            adjustmentTypeList: {
                type: Array
            },
            periods: {
                type: Array
            },
            programs: {
                type: Array
            },
            clear: {
                type: Function,
                default: function () {
                }
            },
            blankOfflineRequisitionLineItems: {
                type: Array
            },
            rnr: {
                type: Object
            }, synch: {
                type: Function,
                default: function () {
                }
            },callbackResponse:{
                type:Object
            },clearMessage:{
                type:Function,
                default: function () {
                }
            }

        }, components: {

            'changeadjustment': changeadjustment
        },

        data()
        {
            return {
                criteria: [],
                isCallbackMessage:false,
                query: "",
                selectAll: false,
                selectedLineItem: {},
                showSuccessAlert: false,
                showErrorAlert: false,
                showChangeAdjustmentModal: false,
                currentProgramCode: 'ARV',
                stockControlCardList: [],
                search: '',
                selectedPeriod: {},
                selectedFacility: {},
                selectedProgram: {},
                http_errors: [],
                baseProductList: [],
                column: 'productCode',
                productAdjustments: [],
                skipped: false,
                chkEmergency: false,
                chkFlagForSubmission: false,
                response: {
                    obj: {},
                    isSuccess: false,
                    messageType: "",
                    message: ""
                },
                showMessage: false

            }
        }
        , computed: {
            filteredLineItems: function () {
                var self = this;

                if(context.blankOfflineRequisitionLineItems === undefined){
                    return []
                }

                    return context.blankOfflineRequisitionLineItems.filter(function (item) {
                        return item.productName.toLowerCase().indexOf(self.query.toLowerCase()) !== -1 ||
                            item.productCode.toLowerCase().indexOf(self.query.toLowerCase()) !== -1;
                    })



            }
        },
        mixins: [FixedTable],

        mounted()
        {
            context = this;
//console.log(document.getElementById('fixed-table-container-1'))
            var fixedTable1 = context.fixTable(document.getElementById('fixed-table-container'));

        }
        ,
        updated: function () {
            var fixedTable1 = context.fixTable(document.getElementById('fixed-table-container'));



        },
        methods: {
            synchronize:function(){
                context.closeMessage();
                context.synch();



            },
            selectDeselectAll: function (value) {
                for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {
                    context.blankOfflineRequisitionLineItems[i].skipped = value;
                }
            },
            parseRemark: function (remarkJSON) {
                if (remarkJSON) {
                    return JSON.parse(remarkJSON).TRANSACTION_REMARK
                }
                return ''
            }
            ,

            changeAdjustmentModalClosed()
            {
                context.showChangeAdjustmentModal = false
            }
            ,
            clearhttp_errors: function () {

                this.http_errors.length = 0
            }
            ,
            changeAdjustment(selectedLineItem)
            {
                context.selectedLineItem = selectedLineItem;
                context.showChangeAdjustmentModal = true;
                context.productAdjustmentsBlank();
            }

            ,
            cancel: function () {
                context.node = {};
                context.nodePrograms = [];
                context.loadPrograms(null);

            }
            ,
            saveAdjustment()
            {
                var updatedAdjustments = [];
                var cumulative = 0;
                for (var i = 0; i < context.productAdjustments.length; i++) {
                    var adjustment = context.productAdjustments[i];
                    if (adjustment.quantity > 0) {
                        if (adjustment.additive) {
                            cumulative += parseInt(adjustment.quantity, 10);
                            ;
                        } else {
                            cumulative -= parseInt(adjustment.quantity, 10);
                            ;
                        }
                        updatedAdjustments.push(adjustment);
                    }

                }
                context.selectedLineItem.totalAdjustment = cumulative;
                context.selectedLineItem.rliLossesNAdjustments = updatedAdjustments;

                context.showChangeAdjustmentModal = false;

            }
            ,
            productAdjustmentsBlank(productCode)
            {
                var assignedAdjustmentTypes = context.selectedLineItem.rliLossesNAdjustments;
                var productAdjustments = [];
                if (assignedAdjustmentTypes == null || assignedAdjustmentTypes == undefined || assignedAdjustmentTypes.length <= 0) {
//                    productAdjustments.push({});

                } else {
                    for (var i = 0; i < assignedAdjustmentTypes.length; i++) {
                        productAdjustments.push(assignedAdjustmentTypes[i]);
                    }
                }
                context.productAdjustments = productAdjustments;
            }
            ,
            saveRnRInformation: function () {
                context.closeMessage();
                var lineItems = [];
                for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {
                    if (!context.blankOfflineRequisitionLineItems[i].skipped) {
                        if (context.isValidRnr(context.blankOfflineRequisitionLineItems[i])) {
                            lineItems.push(context.blankOfflineRequisitionLineItems[i]);
                        } else {

                            context.showMessage = true;
                            context.response.isSuccess = false;
                            context.response.messageType = "ERROR";
                            context.response.message = "Correct R&R values and Save Again ";
                            context.clear();
                            return null;
                        }
                    }
                }
                var offlineRequisition =
                    {
                        requisitionLineItems: lineItems,
                        requisitionType: "OFFLINE_REQUISITION",
                        status: context.rnr.chkFlagForSubmission ? "READY_FOR_SUBMISSION" : "PENDING",
                        periodId: context.rnr.periodId,
                        facilityId: context.rnr.facilityId,
                        programId: context.rnr.programId,
                        emergency:context.rnr.emergency===null||context.rnr.emergency===undefined?false: context.rnr.emergency,
                        synced: context.rnr.synced,
                        id: context.rnr.id === null || context.rnr.id === 0 ? null : context.rnr.id
                    };

                if (offlineRequisition.id === null || offlineRequisition.id === undefined) {
                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/offline-rnr/sdp-requisitions",
                        offlineRequisition).then(function (response) {

                        context.showMessage = true;
                        context.response.isSuccess = true;
                        context.response.messageType = "SUCCESS";
                        context.response.message = "Offline R&R Saved Successfully ";
                        context.showSuccessAlert = true;
                        context.clear();

                        //context.$store.commit('nodePrograms',[])
                    }).catch(function (e) {
                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Saving Offline R&R Failed  ";
                        context.http_errors.push(e);
                        context.clear();

                    })
                } else {

                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/offline-rnr/sdp-requisitions/update",
                        offlineRequisition).then(function (response) {
                        context.showMessage = true;
                        context.response.isSuccess = true;
                        context.response.messageType = "SUCCESS";
                        context.response.message = "Offline R&R Updated Successfully ";
                        context.showSuccessAlert = true;
                        context.clear();

                        //context.$store.commit('nodePrograms',[])
                    }).catch(function (e) {
                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Updating Offline R&R Failed  ";
                        context.http_errors.push(e);
                        context.clear();
                    })
                }
            },
            setRnrSubmissionStatus:function(){

                context.rnr.status= !context.rnr.chkFlagForSubmission ? "READY_FOR_SUBMISSION" : "PENDING";
            },
            isValidRnr(row){
//                context.calculateAmc(row);
                if (!context.rnr.synced ||context.rnr.status!=='READY_FOR_SUBMISSION'||row.skipped) {
                    row.validRnr=true;
                    return true;
                }
                var totAdjustment = row.totalAdjustment == null || row.totalAdjustment == undefined ? 0 : row.totalAdjustment;
                var beginBalance = row.beginningBalance == null || row.beginningBalance == undefined ? 0 : row.beginningBalance;
                var recievedQuantity = row.quantityReceived == null || row.quantityReceived == undefined ? 0 : row.quantityReceived;
                var dispensedQuantity = row.quantityDispensed == null || row.quantityDispensed == undefined ? 0 : row.quantityDispensed;
                var stockOnhand = row.stockOnHand == null || row.stockOnHand == undefined ? 0 : row.stockOnHand;
                var val = parseInt(beginBalance) + parseInt(recievedQuantity) + parseInt(totAdjustment) - parseInt(dispensedQuantity);
                row.totalAdjustment = totAdjustment;
                row.validRnr=parseInt(stockOnhand) == parseInt(val);
                return   row.validRnr;
            },
            calculateAmc(row){
                var prevQuantityDispensed=row.prevQuantityDispensed == null || row.prevQuantityDispensed == undefined ? 0 : row.prevQuantityDispensed;
                var dispensedQuantity = row.quantityDispensed == null || row.quantityDispensed == undefined ? 0 : row.quantityDispensed;
                var amc = row.prevAmc == null || row.prevAmc == undefined ? 0 : row.prevAmc;

                row.amc=(((parseInt(dispensedQuantity)-parseInt(prevQuantityDispensed))/3)+parseInt(amc));
                row.amc=Math.round(row.amc);
                context.isValidRnr(row);
                console.log( "prev " +prevQuantityDispensed + " and cureent is "+ dispensedQuantity);

            },
            closeMessage(){

                context.showMessage = false;
                context.response.isSuccess = false;
                context.response.messageType = "";
                context.response.message = "";
                context.clearMessage();
            }

        }
    })
</script>
<style>
    .info-box1 {
        padding: 9px 12px 2px;
        margin-bottom: 18px;
        -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #B9B9B9;
        background: #F2F2F2;
        font-size: 1em;
        text-shadow: 0 1px 0 white;
        margin-left:-60px;
        margin-right: -60px;
    }
    .padding2px {
        padding: 2px;
    }

    .padding2px {
        padding: 2px;
    }

    #requisition-head-block {
        padding: 8px 0px 0px;
    }

    .regular {
        position: relative;
        background: #dbdbdb;
        padding: 25px 15px;
        text-align: center;
        font-weight: bold;
        min-width: 50px;
        margin-right: 15px;
        text-shadow: none;
        height: 80px;
    }

    .regular:after,
    .regular:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .regular:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #dbdbdb;
        border-width: 35px 0 35px 15px;
        top: 50%;
        margin-top: -35px;
    }

    .emergency {
        position: relative;
        background: #d25f5b;
        padding: 25px 15px;
        text-align: center;
        font-weight: bold;
        min-width: 50px;
        margin-right: 15px;
        text-shadow: none;
        color: #fff;
        height: 80px;
    }

    .emergency:after,
    .emergency:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .emergency:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #d25f5b;
        border-width: 35px 0 35px 15px;
        top: 50%;
        margin-top: -35px;
    }

    .pull-left.requisition-head-block {
        width: 90%;
        margin-left: 0.4%;
    }

    @media screen and (min-width: 1024px) {
        .pull-left.requisition-head-block {
            width: 90.5%;
        }
    }

    @media screen and (min-width: 1100px) {
        .pull-left.requisition-head-block {
            width: 88%;
        }
    }

    @media screen and (min-width: 1020px) {
        .pull-left.requisition-head-block {
            width: 87%;
        }
    }

    @media screen and (min-width: 960px) {
        .pull-left.requisition-head-block {
            width: 86%;
        }
    }

    @media screen and (min-width: 840px) {
        .pull-left.requisition-head-block {
            width: 84%;
        }
    }

    @media screen and (min-width: 648px) {
        .pull-left.requisition-head-block {
            width: 82%;
        }
    }

    @media screen and (max-width: 1050px) {
        .regular {
            padding: 29px 15px;
        }

        .regular:after {
            border-width: 39px 0 39px 15px;
            margin-top: -39px;
        }

        .emergency {
            padding: 29px 15px;
        }

        .emergency:after {
            border-width: 39px 0 39px 15px;
            margin-top: -39px;
        }
    }


    .row-fluid:before, .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .td-error {
        background-color: red;

    }

    .td-no-error {
        background-color: white;
    }

    .sk {
        height: 500px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 40px;
        margin-left: -60px;
        width: 110%;
    }

    .fixed-table-container table {
        border-collapse: collapse;
        width: 500px;
        height: 500px;
    }

    .fixed-table-container th,
    .fixed-table-container td {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        vertical-align: top;
        height: 40px;

        /**
          * Current implementation doesn't work when
          * cells in a row have different heights
          */
        white-space: nowrap !important;
    }

    .fixed-table-container th {
        background: #337ab7;
        font-size: 12px;
        line-height: 16px;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        color: white;
        height: 60px;
        font-weight: bolder;
        padding-bottom: 5px;

    }

    .fixed-table-container th a {
         color: #fff975;
         font-weight: bolder;
         font-size: 1.2em;
         cursor: pointer;
     }
    .fixed-table-container th a:hover {
        color: #ff3616;
        font-weight: bolder;
        font-size: 1.2em;
        text-decoration: underline;
        cursor: pointer;
    }
    .fixed-table-container td:first-child {
        background: #d2dce2;
    }

    .fixed-table-container td:nth-child(2) {
        background: #d2dce2;
    }

    .fixed-table-container td:nth-child(3) {
        background: #d2dce2;
    }

    .fixed-table-container tr:last-child td {
        border-bottom: 0;
    }

    .fixed-table-container th:last-child,
    .fixed-table-container td:last-child {
        border-right: 0;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        z-index: 1000;
    }

    .alert-message {
        max-height: 40px !important;
        /*margin-left: 60px !important;*/
        max-width: 85% !important;
    }

    .alert-success{
        background: transparent !important;
        border: transparent !important;
        color: green !important;
        height: 30px !important;
    }
    .alert-error{
        background: transparent !important;
        border: transparent !important;
        color: red !important;
        height: 30px !important;
    }
</style>
