<template>
    <div>
        <form class="row search-section" action="">
            <div >
                <div class="col-md-5">

                    <div class="form-group">
                        <label for="facility">Facility</label>
                        <v-select  v-validate="'required'" v-model="searchQueryObject.facilityId" :options= "facilities" name="facility" id="facility"
                                class="form-control">
                            <!--<option v-for="f in facilities" v-bind:key="f.id"-->
                                    <!--:value="f">{{f.code + " " + f.name}}-->
                            <!--</option>-->
                        </v-select>
                        <span v-show="errors.has('facility')" class="help is-danger">{{ errors.first('facility')
                            }}</span>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label for="program">Program Area</label>
                        <v-select :options="programs" v-validate="'required'" v-model="searchQueryObject.programCode" name="program"
                                id="program" class="form-control">
                            <!--<option v-for="p in programs" v-bind:key="p.id"-->
                                    <!--:value="p">{{p.code + " " + p.name}}-->
                            <!--</option>-->
                        </v-select>
                        <span v-show="errors.has('program')" class="help is-danger">{{ errors.first('program')
                            }}</span>
                    </div>
                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label for="rnrType">R&R Type</label>
                        <select style="height: 40px" v-validate="'required'" v-model="searchQueryObject.rnrType" name="rnrType"
                                id="rnrType" class="form-control">
                            <option id="1"
                            >Regular
                            </option>
                            <option id="2"
                            >Emergency
                            </option>
                        </select>
                        <span v-show="errors.has('rnrType')" class="help is-danger">{{ errors.first('rnrType')
                            }}</span>
                    </div>
                </div>


            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <button style="margin-right: 13px;"  class="btn btn-primary pull-right " v-on:click="validateSearch($event)"
                                type="submit">
                            <i class="fa fa-search"></i>
                            Search
                        </button>


                    </div>
                </div>
            </div>

        </form>
        <br/><br/>

        <div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h4 class="panel-title">Search Result</h4>
                        </div>

                        <div class="panel-body">
                            <div>
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Period</th>
                                        <th>Status</th>
                                        <th>Synched</th>

                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="!fromServer && periods.length>0">
                                        <td >
                                            <div class="alert alert-info">
                                                <strong>Info!</strong>  This is To Create Offline.
                                            </div>


                                        </td>

                                        <td><select v-model="searchQueryObject.periodId" name="type" id="periods"
                                                    class="form-control">
                                            <option v-for="p in periods" v-bind:key="p.id"
                                                    :value="p">{{p.name }}
                                            </option>
                                        </select>
                                        </td>
                                        <td></td>
                                        <td></td>

                                        <td>
                                            <button :disabled="periods.length==0" v-on:click="prepare(null)"
                                                    type="button"
                                                    class="btn btn-primary">Create New
                                            </button>
                                        </td>
                                    </tr>
                                    <tr v-for="rnr in rnrs" :key="rnr.id">
                                        <td></td>

                                        <td>{{rnr.periodName}}</td>
                                        <td>{{rnr.status}}</td>

                                        <td><span class="glyphicon" v-bind:class="{ 'glyphicon-ok':rnr.synced,'glyphicon-remove':!rnr.synced}"></span></td>
                                        <td>
                                            <button v-if="!fromServer||(rnr.status==='PENDING'||(rnr.readyForEdit && rnr.status!='Not Started'))"
                                                    v-on:click="openRnrHandler(rnr)" type="button"
                                                    class="btn btn-secondary">Proceed
                                            </button>
                                            <button v-if="rnr.readyForEdit && rnr.status=='Not Started'"
                                                    v-on:click="prepare(rnr)" type="button" class="btn btn-warning">
                                                Initiate
                                            </button>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>
                            <select v-model="pageSize" class="form-control">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>records per page</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                </div>
                <div class="col-md-6">
                    <paginate
                            :page-count="totalNumberOfPages"
                            :click-handler="setPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'pagination pull-right'">
                    </paginate>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    import paginate from 'vuejs-paginate'


    var context = {}
    export default{
        props: {
            searchQueryObject: {
                type: Object
            },
            searchResult: {
                type: Array
            },
            periods: {
                type: Array
            },
            facilities: {
                type: Array
            },
            programs: {
                type: Array
            },
            openRnrHandler: {
                type: Function,
                default: function () {
                }
            }, prepare: {
                type: Function,
                default: function (Object) {
                }
            },
            search: {
                type: Function,
                default: function () {
                }
            },
            fromServer: {
                type: Boolean
            }
        },
        components: {

            paginate
        },
        beforeMount(){
            context = this


        },
        data(){
            return {
                pageSize: 10,
                pageNumber: 1,
                totalNumberOfPages: 0,
                fromDate: '',
                toDate: ''


            }
        },
        mixins: [],
        computed: {
            rnrs: {
                get: function () {
                    var pages = context.searchResult.length / this.pageSize
                    context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                    var pageSize = parseInt(context.pageSize)
                    var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                    if (pageNumber > context.totalNumberOfPages) {
                        pageNumber = context.totalNumberOfPages
                    }
                    var startingIndex = (pageNumber - 1) * pageSize
                    var endingIndex = startingIndex + pageSize

                    var paginatedFilteredList = context.searchResult.slice(startingIndex, endingIndex)

                    return paginatedFilteredList
                }
            }
        },
        methods: {
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            validateSearch: function (event) {
                context.$validator.validateAll().then(function (result) {
                    console.log("result is " + result)

                    if (result) {
                        context.search(event);
                    }
                })
            }
        }
    }
</script>
<style>
    .search-section{
        height:120px;
        background-color: #F2F2F2;;
        /*padding-right:30px;*/
        padding-top:10px;
    }
</style>
