<template>

            <div class="container">


				<h4 v-if="role == undefined">
					<div class="row">
						<div class="col-xs-6"><span class="glyphicon glyphicon glyphicon-lock"></span>Manage Roles</div>
						<div class="col-xs-6"><button  class="btn btn-success btn-sm" style="float : right;" v-on:click="setRole({})">
							<span class="glyphicon glyphicon-plus"></span> Add New Role</button></div>
					</div>
				</h4>
				<h4 v-else-if="role.id"><span class="glyphicon glyphicon-user"></span>You are editing existing role</h4>
				<h4  v-else><span class="glyphicon glyphicon-user"></span>You are adding a new role</h4>

		<div v-if="!role">
			  <table class="table table-striped table-bordered table-hover dataTable" id="roleList">
				  <thead>
				  <td>#</td>
				  <th>Role</th>
				  <th>Description</th>
				  <th></th>
				  </thead>
				  <tbody>
				  <tr  v-for="(role,index) in roles">
					  <td>{{index+1}}</td>
					  <td style="width :30%;">{{role.name}}</td>
					  <td> {{role.description}}</td>
					  <td><a  v-bind:href="'#/admin/roles?roleId='+role.id">Edit</a></td>
				  </tr>
				  </tbody>
			  </table>
		</div>
	    <div v-if="role">

			<form id="role" name="role">
				<div v-if="successMessage" class="alert alert-success">{{successMessage}}</div>
				<div class="form-block">
					<strong>Role Detail</strong>
					<hr/>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Enter name" v-model="role.name"/>
								<span class="help is-danger" v-if="roleFormError.name">{{formError.name}}</span>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" class="form-control" id="description" placeholder="Enter description" v-model="role.description"/>
								<span class="help is-danger" v-if="roleFormError.description">{{formError.description}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" >
							<label >Rights</label>
							<multiselect  id="index" v-model="role.rights" :options="rights" :multiple="true" label="name"  track-by="name" placeholder="+ Add Rights">
							</multiselect>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12">
							<hr>

							<button  class="btn btn-success btn-sm" v-on:click="saveRole($event)">Save Role</button>
							<button class="btn btn-default btn-sm" v-on:click="cancelRoleForm($event)">Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>

                
            </div>

</template>


<script>
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
	import { Multiselect } from 'vue-multiselect';
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'

    var context = {}

    export default({
        data(){
            return {
                 searchResult : [],
                 user : undefined,
                 userId : undefined,
                 successMessage : undefined,
                 formError : {},
                 roles : undefined,
                 loginVisibleNodes : [],
				 rights : [],
				 role : undefined,
                 roleFormError : {}
            }
        },
        components: {
            accordion,
            panel,
            Multiselect,
			tab,
			tabs
        },
        beforeMount(){
            context = this
            context.getRoles();
            context.loadRights();
            context.getRole();
        },
        watch : {
        	'$route' (to, from){
                context.getRole();
        	}
        },

        methods: {

          getRoles : function(){
          	 getHttpAuthenticatedWithLoadingFlag().get("/users/roles").then(function (response) {
                    context.roles = response.data;
                }).catch(function (e) {
                    console.log(e);
                });
          },



		   loadRights : function () {
               getHttpAuthenticatedWithLoadingFlag().get('/users/rights').then(function(response){
                   context.rights = response.data;
               }).catch(function(error){
                   console.log(error)
               })
            },


        setRole : function(role){
              context.role = role;
		},

		saveRole : function(){
            event.preventDefault();

			getHttpAuthenticatedWithLoadingFlag().post("/user/role", context.role).then(function (response) {
				context.successMessage = 'Role information saved successfully';
                context.getRoles();
				context.formError = {}
			}).catch(function (e) {
				context.successMessage=undefined;
				context.formError = e.response.data
			});
		},
        getRole : function(){

		    context.successMessage=undefined;

            var roleId = context.$route.query.roleId;

            if(roleId == undefined) return;

            getHttpAuthenticatedWithLoadingFlag().get("/user/role/"+roleId).then(function (response) {
                context.role = response.data;
            }).catch(function (e) {
                context.successMessage=undefined;
                context.formError = e.response.data
            });
		},
		cancelRoleForm : function(event){
			context.role = undefined;
			context.$router.replace('');
		}

      }
    })
</script>

<style>
.form-block{
    padding: 12px 24px 12px 30px;
    margin: 1em 0;
    border-left-width: 4px;
    background-color: #f8f8f8;
    position: relative;
    }

	.multiselect__tag {
		font-size : 12px;
	}

</style>