<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">


                <tabs v-model="activeTab" nav-style="tabs" justified>

                    <tab header="Search Node">
                        <nodeSearch :response="responseVal" :closeMessageAlert="closeAlert" :showConfirmation="showConfirmation" :addNewNode="addNewNode" :searchQueryObject="searchQueryObject" :searchNodes="searchNodeValues" :searchResult="searchResult" :openNodeHandler="openNode"></nodeSearch>
                    </tab>
                    <tab header="Node Detail" disabled>
                        <createNode  :showConfirmation="showConfirmation"  :node="node" :clear="clear" ></createNode>
                    </tab>
                </tabs>

            </div>
        </div>
    </div>
</template>
<script>
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'
    import createNode from './program-node/create'
    import nodeSearch from './program-node/node-search'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import NodeTypeMixin from '../../mixins/NodeType'
    import NodeProgramMixin from '../../mixins/NodeProgram'

    var context = {}

    export default({
        data(){
            return {
                activeTab:0,
                node:{},
                searchResult:[],
                searchQueryObject:{},
                showNodeCreateModal:false,
                showConfirmation:false,
                responseVal:{}

            }
        },
        components: {
            tabs,
            tab,
            createNode,
            nodeSearch
        },
        mixins: [
            NodeTypeMixin, NodeProgramMixin
        ],
        beforeMount(){
            context = this;
            context.searchNodeValues();
        },
        methods: {
            addNewNode: function(event){
                context.node={};
                context.nodePrograms=[];
                context.loadPrograms(null);
                context.activeTab=1;
            },
            openNode(node){
                context.node = node
                context.activeTab = 1
                context.loadPrograms(node);
            },
            clear (value) {
                context.node={};
                context.nodePrograms=[];
                context.loadPrograms(null);
                context.searchNodeValues();
                context.activeTab=0;
                context.showConfirmation=true;
                if (value!==null) {
                    context.responseVal = value;
                }

            },
            searchNodeValues(){

                getHttpAuthenticatedWithLoadingFlag().post('/search-nodes', context.searchQueryObject).then(function(response){
                    context.searchResult = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            closeAlert(){
                context.showConfirmation = false;
            }

        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
