<template>
  <div id="wrapper">
    <navigation>
    </navigation>
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>

                            <p>Dispensations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Issues</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Pending physical counts</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
        </div>

      <!--<div class="row">
        <div class="col-md-4">
          <h1 style="text-align:center;">Linechart</h1>
          <line-example></line-example>
        </div>
        <div class="col-md-4">
          <h1 style="text-align:center;">Doughnutchart</h1>
          <doughnut-example></doughnut-example>
        </div>

        <div class="col-md-4">
          <h1 style="text-align:center;">Piechart</h1>
          <pie-example></pie-example>
        </div>

        <div class="col-md-4">
          <h1 style="text-align:center;">Radarchart</h1>
          <radar-example></radar-example>
        </div>

        <div class="col-md-4">
          <h1 style="text-align:center;">Polararea</h1>
          <polar-area-example></polar-area-example>
        </div>

        <div class="col-md-4">
          <h1 style="text-align:center;">Bubblechart</h1>
          <bubble-example></bubble-example>
        </div>

        <div class="col-md-4">
          <h1 style="text-align:center;">Scatter col-md-4</h1>
          <scatter-example></scatter-example>
        </div>
      </div>-->
    </div>

  </div>
</template>
<script>
/*  import DoughnutExample from './examples/DoughnutExample'
  import LineExample from './examples/LineExample'
  import PieExample from './examples/PieExample'
  import RadarExample from './examples/RadarExample'
  import PolarAreaExample from './examples/PolarAreaExample'
  import BubbleExample from './examples/BubbleExample'
  import ReactivePropExample from './examples/ReactivePropExample'
  import ScatterExample from './examples/ScatterExample'*/

  import {getHttpAuthenticated} from '../../assets/js/http_with_token'

  var context = {}

  export default ({
      beforeMount(){
        context = this
        this.init()
      },
      methods:{
        init: function(){
          getHttpAuthenticated().get('/rest-api/facility/my-district-and-province').then(function(response){
            var facilityId = response.data.facilityId
            getHttpAuthenticated().get('/rest-api/facility/' + facilityId).then(function(response){
             context.$store.dispatch('setFacility', response.data)
            }).catch(function(error){
              console.log(error)
            })
          }).catch(function(error){
            console.log(error)
          })
        }
      }/*,

      components: {
        LineExample,
        DoughnutExample,
        PieExample,
        RadarExample,
        PolarAreaExample,
        BubbleExample,
        ReactivePropExample,
        ScatterExample
      }*/
  })
</script>
