<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="fa fa-eye"></span> Daily Activity Register
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <br>
                                            <datepicker v-model="fromDate" :format="dateFormat" @input="loadDAR()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <br>
                                            <datepicker v-model="toDate" :format="dateFormat" @input="loadDAR()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Programs</label>
                                            <br>
                                            <select name="cmbNodePrograms" id="cmbNodePrograms" v-model="programId">
                                                <option v-for="nodeProgram in myPrograms" :value="nodeProgram.id">{{nodeProgram.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Product Categories</label>
                                            <br>
                                            <select name="cmbProductCategories" id="cmbProductCategories" v-model="filterProductCategory">
                                                <option v-for="productCategory in productCategoriesForFiltering" :value="productCategory.categoryName">{{productCategory.categoryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <!--<div class="panel-heading">
                                <h5 class="panel-title">Daily Activity Register Items</h5>
                            </div>-->
                            <div class="panel-body">
                                <table class="table table-responsive table-bordered table-stripped dataTable table-header-rotated">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="width:75px">Date</th>
                                            <th rowspan="2" style="width: 160px;">Patient Name </th>

                                            <th v-for="productCategory in productCategories" :colspan="productCategory.countOfProducts" style="word-break: break-word;">{{productCategory.categoryName}}</th>
                                            <th rowspan="2">Dispenser</th>
                                        </tr>
                                        <tr>
                                            <th v-for="product in products" class="rotate" >
                                                <div>
                                                    <span>{{product.primaryname}}</span>
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                                <div class="table-content" :class="{ 'pull-right-5px': showScrollbar }">
                                    <table class="table table-responsive table-bordered table-stripped dataTable" >
                                        <tbody>
                                        <!--<tr v-for="darItem in activityRegisterItems">
                                            <td>{{ new Date(darItem.txnDate) | formatDate}}</td>
                                            <td>{{ darItem.artNumber }}</td>
                                            <td>{{ darItem.clientFirstName + " " +  darItem.clientLastName}}</td>
                                            <td>{{ darItem.categoryName }}</td>
                                            <td>{{ darItem.productCode }}</td>
                                            <td>{{ darItem.primaryname }}</td>
                                            <td>{{ darItem.tablets }}</td>
                                            <td>{{ darItem.dispenserFirstName}}</td>
                                        </tr>-->
                                        <tr v-for="txnId in transactions">
                                            <td style="width:75px">
                                                {{ getTxnDate(txnId) | formatDate }}
                                            </td>
                                            <td style="width: 160px;">
                                                {{ getPatientFullName(txnId) }}
                                            </td>
                                            <td v-for="product in products" style="text-align: right">
                                                <strong>
                                                    {{ getDispensedQuantity(txnId, product.primaryname, product.categoryName) }}
                                                </strong>
                                            </td>
                                            <td>
                                                <strong>
                                                {{ getDispenserName(txnId)}}
                                                </strong>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="pageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                    </div>

                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="totalNumberOfPages"
                                                :click-handler="setPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination'">
                                        </paginate>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import Paginate from 'vuejs-paginate'
    var context = {}

    export default{

        data(){
            return {
                fromDate:this.today(),
                toDate:this.today(),
                dateFormat: 'dd-MMM-yyyy',
                nodeId: this.$store.state.persistedState.node.id,
                dar:{
                    activityRegisterItems:[]
                },
                pageNumber: 1,
                totalNumberOfPages: 0,
                pageSize: 20,
                filterProductCategory:"",
                programId : -1,
                sortProgramsBy: 'code',
                programs:[],
                nodePrograms:[]
            }
        },
        components: {
            'datepicker': datepicker,
            'paginate': Paginate
        },
        beforeMount(){
            context = this
            context.loadDAR()
            context.loadNodePrograms()
            context.loadPrograms()
        },
        watch:{
            programId:function (value) {
                context.filterProductCategory = ""
            }
        },
        computed:{
            myPrograms(){
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            },
            showScrollbar(){
                return context.transactions.length > 10
            },
            transactions(){
                var filteredList = this.dar.activityRegisterItems
                console.log("Program filter " + context.programId)

                if(context.programId !== -1){
                    filteredList = filteredList.filter(function (darItem) {
                        return darItem.programId === context.programId
                    })
                }
                console.log("Product Category filter " + context.filterProductCategory)
                if(context.filterProductCategory!==undefined && context.filterProductCategory !== ""){
                    filteredList = filteredList.filter(function (darItem) {
                        return darItem.categoryName === context.filterProductCategory
                    })
                }

                var temp = filteredList.map(darItem => darItem.txnId)
                temp = temp.filter((v, i, a) => a.indexOf(v) === i)


                var pages = temp.length / this.pageSize
                this.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                var pageSize = parseInt(context.pageSize)
                var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                if (pageNumber > context.totalNumberOfPages) {
                    pageNumber = context.totalNumberOfPages
                }
                var startingIndex = (pageNumber - 1) * pageSize
                var endingIndex = startingIndex + pageSize
                temp = temp.slice(startingIndex, endingIndex)
                return temp
            },
            sortedARVDarItems(){
                var column = "categoryName"
                var tempList = []
                context.dar.activityRegisterItems.forEach(function (darItem) {
                    tempList.push(darItem)
                })
                var sortedDarItemsByProductCategory = tempList.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                return sortedDarItemsByProductCategory
            },
            productCategoriesForFiltering(){
                var filteredList = context.sortedARVDarItems
                console.log("Program filter " + context.programId)
                if(context.programId !== -1){
                    filteredList = filteredList.filter(function (darItem) {
                        return darItem.programId === context.programId
                    })
                }
                var temp = filteredList.map(darItem => darItem.categoryName)
                var filteredProductCategories = temp.filter((v, i, a) => a.indexOf(v) === i)
                var result = []
                filteredProductCategories.forEach(function(catName){

                    result.push({
                        categoryName: catName,
                        countOfProducts: context.countProductsUnder(catName)
                    })

                })

                return result
            },
            productCategories(){
                var filteredList = context.sortedARVDarItems
                console.log("Program filter " + context.programId)
                if(context.programId !== -1){
                    filteredList = filteredList.filter(function (darItem) {
                        return darItem.programId === context.programId
                    })
                }
                var temp = filteredList.map(darItem => darItem.categoryName)
                var filteredProductCategories = temp.filter((v, i, a) => a.indexOf(v) === i)
                var result = []
                filteredProductCategories.forEach(function(catName){

                    result.push({
                        categoryName: catName,
                        countOfProducts: context.countProductsUnder(catName)
                    })

                })

                if(context.filterProductCategory!==undefined && context.filterProductCategory !== ""){
                    result = result.filter(function (pc) {
                        return pc.categoryName === context.filterProductCategory
                    })
                }
                return result
            },
            products(){
                var temp = context.sortedARVDarItems.map(darItem => darItem.primaryname)
                temp = temp.filter((v, i, a) => a.indexOf(v) === i)
                var tempProductList = []
                context.sortedARVDarItems.forEach(function(darItem){
                    var match = tempProductList.find(function (product) {
                        return product.primaryname === darItem.primaryname && product.categoryName === darItem.categoryName
                    })

                    if(match===undefined){
                        tempProductList.push(darItem)
                    }
                })

                if(context.filterProductCategory!==undefined && context.filterProductCategory !== ""){
                    tempProductList = tempProductList.filter(function (product) {
                        return product.categoryName === context.filterProductCategory
                    })
                }

                if(context.programId !== -1){
                    tempProductList = tempProductList.filter(function (darItem) {
                        return darItem.programId === context.programId
                    })
                }

                return tempProductList
            }
        },
        methods:{
            loadPrograms: function(){
                getHttpAuthenticated().get("/programs").then(function(response) {
                    context.programs = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            getTxnDate(txnId){
                var match = this.dar.activityRegisterItems.find(function (darItem) {
                    return darItem.txnId === txnId
                })

                return match === undefined ? "N/A" : new Date(match.txnDate)
            },
            getPatientFullName(txnId){
                var match = this.dar.activityRegisterItems.find(function (darItem) {
                    return darItem.txnId === txnId
                })

                return match === undefined ? "N/A" : match.clientFirstName + " " + match.clientLastName
            },
            getDispenserName(txnId){
                var match = this.dar.activityRegisterItems.find(function (darItem) {
                    return darItem.txnId === txnId
                })

                return match === undefined ? "N/A" : match.dispenserFirstName
            },
            getDispensedQuantity(txnId, productName, productCategory){
                var match = this.dar.activityRegisterItems.find(function (darItem) {
                    return darItem.txnId === txnId && darItem.primaryname === productName && darItem.categoryName === productCategory
                })
                return match === undefined ? "" : match.tablets
            },
            countProductsUnder(productCategory){
                console.log(productCategory)
                var productsInThisCategory = context.sortedARVDarItems.filter(function(darItem){
                    return darItem.categoryName === productCategory
                })
                var productNamesInThisCategory = productsInThisCategory.map(darItem => darItem.primaryname)
                var uniqueProductNamesInThisCategory = productNamesInThisCategory.filter((v, i, a) => a.indexOf(v) === i)
                context.printJSON(uniqueProductNamesInThisCategory)
                return uniqueProductNamesInThisCategory.length
            },
            loadDAR(){
                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/arv/activity-register/" + context.nodeId
                    + "/" + context.fromDate
                    + "/" + context.toDate).then(function(response){
//                    context.printJSON(response.data)
                    var temp = response.data
                    var column = "txnDate"
                    var sortedDarItems = temp.activityRegisterItems.sort((a, b) => { return (a[column] < b[column]) ? 1 : ((b[column] < a[column]) ? -1 : 0) })

                    temp.activityRegisterItems = sortedDarItems

                    context.dar = temp

                    context.dar.activityRegisterItems.forEach(function (darItem) {
                        console.log( new Date(darItem.txnDate))
                    })
                }).catch(function (error) {
                    console.log(error)
                })
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            }
        }

    }

</script>
<style>
    table{
        table-layout:fixed;
    }
    .table-header-rotated {
        border-collapse: collapse;
    }
    .table-header-rotated td {
        width: 30px;
    }
    .table-header-rotated th {
        padding: 5px 10px;
    }
    .table-header-rotated td {
        text-align: center;
        padding: 10px 5px;
        border: 1px solid #ccc;
    }
    .table-header-rotated th.rotate {
        height: 280px;
        white-space: nowrap;
    }
    .table-header-rotated th.rotate > div {
        -webkit-transform: translate(15px, -6px) rotate(-90deg);
        transform: translate(15px, -6px) rotate(-90deg);
        width: 40px;
    }
    .table-header-rotated th.rotate > div > span {
        padding: 5px 10px;
    }
    .table-header-rotated th.row-header {
        padding: 0 10px;
        border-bottom: 1px solid #ccc;
    }

    .table-content{
        max-height:300px;
        overflow-x:auto;
        margin-top: -11px;

    }

    .pull-right-5px{
        margin-right: -5px;
    }

    .table-content::-webkit-scrollbar {
        width: 5px;
    }

    .table-content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .table-content::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    .table-content table tbody tr:nth-child(even) {
        background-color: #DDD;
    }

    .table-content .table > caption + thead > tr:first-child > th,
    .table-content .table > colgroup + thead > tr:first-child > th,
    .table-content .table > thead:first-child > tr:first-child > th,
    .table-content .table > caption + thead > tr:first-child > td,
    .table-content .table > colgroup + thead > tr:first-child > td,
    .table-content .table > thead:first-child > tr:first-child > td{
        border: 1px #333 solid;
    }
    .table-content .table-bordered>thead>tr>th,
    .table-content .table-bordered>tbody>tr>th,
    .table-content .table-bordered>tfoot>tr>th,
    .table-content .table-bordered>thead>tr>td,
    .table-content .table-bordered>tbody>tr>td,
    .table-content .table-bordered>tfoot>tr>td{
        border: 1px #333 solid;
    }



</style>