<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span> <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="fa fa-hospital-o"></span> Offline R&R
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <modal v-model="showConfirmation" @ok="showConfirmation = false" effect="fade" :backdrop="false">
                        <div slot="modal-header" class="modal-header modal-header-info">
                            <h4 class="modal-title">
                                <b>Offline RnR creation</b>
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body">
                            <p>Server Cannot Initiate R&R: Do you want to create R&R offline!</p>
                        </div>
                        <!-- custom buttons -->
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-success" @click="createRnROffline()">Ok</button>
                            <button type="button" class="btn btn-danger" @click="showConfirmation = false">Cancel
                            </button>
                        </div>
                    </modal>

                    <!--<modal v-model="showErrorAlert" @ok="showErrorAlert = false" effect="fade">-->
                    <!--<div slot="modal-header" class="modal-header modal-header-danger">-->
                    <!--<h4 class="modal-title">-->
                    <!--<b>Offline Requisition</b>-->
                    <!--</h4>-->
                    <!--</div>-->
                    <!--<div slot="modal-body" class="modal-body">-->
                    <!--<p>An error has occurred!</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; custom buttons &ndash;&gt;-->
                    <!--<div slot="modal-footer" class="modal-footer">-->
                    <!--<button type="button" class="btn btn-danger" @click="showErrorAlert = false">Ok</button>-->
                    <!--</div>-->
                    <!--</modal>-->
                </div>
                <tabs v-model="activeTab" justified>

                    <tab header="R&R Search">
                        <rnrSearch :fromServer="fromServer" :searchResult="searchResult" :search="getRnrs"
                                   :searchQueryObject="searchQueryObject" :prepare="prepareNewRnr"
                                   :openRnrHandler="openRnr" :periods="periods" :programs="myPrograms"
                                   :facilities="facilities"></rnrSearch>
                    </tab>
                    <tab header="R&R Detail" disabled>
                        <createRnr :clearMessage="clearMessage" :callbackResponse="synchResponse" :synch="synch"
                                   :adjustmentTypeList="adjustmentTypeList"
                                   :blankOfflineRequisitionLineItems="lineItems" :rnr="rnr" :periods="periods"
                                   :programs="programs" :facilities="facilities"></createRnr>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</template>
<script>
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'
    import createRnr from './offline-RnR/create'
    import rnrSearch from './offline-RnR/rnr-search'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import UserFacilityMixin from '../../mixins/UserFacility'
    import  ProgramMixin from '../../mixins/Programs'
    import PeriodMixin from '../../mixins/Period'
    import RnrLineItemsMixin from '../../mixins/OfflineRnrLineItems'
    import AdjustmentTypeMixin from '../../mixins/AdjustmentType'
    import modal from 'vue-strap/src/Modal'

    var context = {}

    export default({
        data(){
            return {
                activeTab: 0,
                rnr: {},
                facilities: [],
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                periods: [],
                lineItems: [],
                searchQueryObject: {},
                blankOfflineRequisitionLineItems: [],
                adjustmentTypeList: [],
                searchResult: [],
                showConfirmation: false,
                fromServer: false,
                dmInstallation:false,
                products:[],
                synchResponse: {
                    showMessage: false,
                    isSuccess: false,
                    messageType: "ERROR",
                    message: ""
                }


            }
        },
        components: {
            tabs,
            tab,
            createRnr,
            rnrSearch,
            'modal': modal
        },
        mixins: [
            RnrLineItemsMixin, UserFacilityMixin, ProgramMixin, PeriodMixin, AdjustmentTypeMixin
        ],
        beforeMount(){
            context = this,
                context.loadFacilities(),
                context.loadNodePrograms(),
                context.loadPrograms(),
                context.loadAllAdjustemntTypes();
        },
        methods: {
            clearMessage:function(){

                context.synchResponse.showMessage = false;
                context.synchResponse.isSuccess = true;
                context.synchResponse.messageType = "";
                context.synchResponse.message = "";

            },
            openRnr(rnr){
                context.rnr = rnr
                context.rnr.id = rnr.id
                context.rnr.chkFlagForSubmission = rnr.status === "READY_FOR_SUBMISSION" ? true : false;
                context.rnr.facility = context.searchQueryObject.facilityId
                context.rnr.program = context.searchQueryObject.programCode
                context.rnr.period = rnr.periodId
                context.rnr.isForupdate = true
                context.rnr.dmInstallation=context.dmInstallation;
                context.loadRnrAdjustments();

                context.activeTab = 1;
                console.log("opened Rnr is"+ JSON.stringify(context.rnr));

            },
            clear () {
                context.rnr = {};
                context.rnrs = [];
                //  context.loadPrograms(null);
                context.activeTab = 0;

            },

            prepareNewRnr: function (rnr) {
                var programCode = context.searchQueryObject.programCode.code;
                var periodId;
                var periodName;
                if (rnr !== null && rnr.status === 'Not Started') {
                    periodId = rnr.periodId;
                    context.rnr.periodId = rnr.periodId;
                    periodName = rnr.periodName;
                    context.rnr.id = rnr.id;
                    context.rnr.emergency = rnr.emergency;
                } else {
                    periodId = context.searchQueryObject.periodId.id;
                    context.rnr.periodId = context.searchQueryObject.periodId.id;
                    periodName = context.searchQueryObject.periodId.name;
                }
                context.rnr = {};
                context.rnr.periodName = periodName;
                context.rnr.periodId = periodId;
                context.rnr.facility = context.searchQueryObject.facilityId
                context.rnr.program = context.searchQueryObject.programCode
                context.rnr.period = context.searchQueryObject.periodId
                context.rnr.facilityCode = context.searchQueryObject.facilityId.code;
                context.rnr.facilityId = context.searchQueryObject.facilityId.id;
                context.rnr.facilityName = context.searchQueryObject.facilityId.name;
                context.rnr.programCode = context.searchQueryObject.programCode.code;
                context.rnr.programId = context.searchQueryObject.programCode.id;
                context.rnr.isForupdate = false
                context.generateRnr(programCode, periodId);

            },
            getRnrs: function (event) {
                event.preventDefault()
                context.searchRnrs()
            },
            createRnROffline: function (event) {
                if(context.rnr===null ||context.rnr===undefined||context.rnr.dmInstance) {
                    var programCode = context.searchQueryObject.programCode.code;
                    var periodId = context.searchQueryObject.periodId.id;
                    context.generateRnrOffline(programCode, periodId);
                }else{
                    context.lineItems=  context.products;
                    context.setPrevAmcAndDispense();
                    context.activeTab = 1
                }

                context.showConfirmation = false;
            }

        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
