<template>
    <form >
        <div class="container">


            <div class="container-fluid">


                <div>

                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input name="name" v-validate="'required'" v-model="node.name" type="text" class="form-control"
                                           placeholder="Node Name"
                                           id="name">
                                    <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name')
                                        }}</span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group basic-textarea">
                                            <label for="descrition">Description</label>
                                            <textarea placeholder="Node Description" v-model="node.description" class="form-control" id="descrition"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="contact-preference">What is the type of the Node?</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="contact-preference" id="contact-preference"
                                                       v-model="node.isVirtual" value="am" checked>Is Virtual
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="contact-preference" id="contact-preference"
                                                       v-model="node.isExternal" value="pm" checked>Is External
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label for="type">Type</label>
                                            <select v-validate="'required'"    v-model="node.type" name="type" id="type" class="form-control">

                                                <option v-for="type in nodeTypeList" v-bind:key="type.id"
                                                        :value="type.id">{{type.description}}
                                                </option>
                                            </select>
                                            <span v-show="errors.has('type')" class="help is-danger">{{ errors.first('type')
                                                }}</span>
                                        </div>
                                    </div>
                                    <!--  col-md-6   -->


                                    <!--  col-md-6   -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>


                                    <div>
                                        <table id="example"
                                               class="table table-striped table-bordered table-hover dataTable"
                                               cellspacing="0" width="100%">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Program</th>

                                                <th>Consumption Point</th>

                                            </tr>
                                            </thead>

                                            <tbody>

                                            <tr v-for="nodeProgram in nodePrograms">
                                                <td><input style="max-width: 20px" v-model="nodeProgram.selectedNow"
                                                           type="checkbox"
                                                           name="row-3-age"></td>
                                                <td>{{nodeProgram.programCode}}</td>

                                                <td><input :disabled="!nodeProgram.selectedNow"
                                                           v-model="nodeProgram.dispensingPoint" type="checkbox"
                                                           name="row-3-position"></td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--  row   -->


                <!--  row   -->
            </div>

            <div class="col-xs-12 static-action-bar ">
                <button v-on:click="saveNodeInformation()" type="button" class="btn btn-primary">Save</button>
                <button v-on:click="clear(null)" type="button" class="btn btn-primary">Cancel</button>
                <button v-on:click="cancel()" type="button" class="btn btn-primary">Clear</button>
            </div>
        </div>

    </form>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../../assets/js/http_with_token'
    import NodeTypeMixin from '../../../mixins/NodeType'
    import NodeProgramMixin from '../../../mixins/NodeProgram'
    var context = {}

    export default({
        props: {
            node: {
                type: Object
            },
            clear: {
                type: Function,
                default: function (Object) {
                }
            },
            showConfirmation: {
                type: Boolean
            }
        },
        data(){
            return {
                currentProgramCode: 'ARV',
                stockControlCardList: [],
                search: '',
                http_errors: [],
                nodeTypeList: [],
                column: 'productCode',
                response: {
                    newRnr: {},
                    isSuccess: false,
                    message: ""
                }

            }
        },
        mixins: [
            NodeTypeMixin, NodeProgramMixin
        ],
        beforeMount () {
            context = this

            context.loadNodeTypes()

        },
        methods: {
            parseRemark: function (remarkJSON) {
                if (remarkJSON) {
                    return JSON.parse(remarkJSON).TRANSACTION_REMARK
                }
                return ''
            },
            clearhttp_errors: function () {
                this.http_errors.length = 0
            }
            ,
            saveNodeInformation: function () {
                context.$validator.validateAll().then(function (result) {

                    if(result) {
                        var nodePrograms = context.nodePrograms
                        context.node.nodePrograms = nodePrograms


                        getHttpAuthenticatedWithLoadingFlag().post("/save-node",
                            context.node).then(function (response) {

                            context.response.isSuccess = true;
                            context.response.message = " Program Node saved Successfully !";
                            context.response.newRnr = context.node;
                            context.clear(context.response);
                            //context.$store.commit('nodePrograms',[])
                        }).catch(function (e) {
                            context.http_errors.push(e)
                        })
                    }
                })

            },
            cancel: function () {
                context.node = {};
                context.nodePrograms = [];
                context.loadPrograms(null);


            }

        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
