<template>

    <div>

        <div v-if="showConfirmation" class="alert alert-success fade in">
            <button v-on:click="closeMessageAlert" type="button" class="close">
                ×
            </button>
            <span class="glyphicon glyphicon-ok"></span>
            <button type="button" class="btn btn-link" v-on:click="openNodeHandler(response.newRnr)">
                {{response.newRnr.name}}
            </button>
            {{response.message}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-sm btn-success pull-right" v-on:click="addNewNode()" type="submit">
                        <i class="fa fa-plus"></i>
                        Add New
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Search Result</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Node Name</th>
                                <th>Node Type</th>

                                <th>is Virtual</th>
                                <th>is External</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="node in nodes" :key="node.id">
                                <td>{{ node.name }}</td>
                                <td>{{ node.typeName}}</td>

                                <td><span v-if="node.isVirtual==true" class="glyphicon glyphicon-ok"></span>
                                    <span v-if="node.isVirtual==false" class="glyphicon glyphicon-remove"></span></td>
                                <td><span v-if="node.isExternal==true" class="glyphicon glyphicon-ok"></span>
                                    <span v-if="node.isExternal==false" class="glyphicon glyphicon-remove"></span></td>
                                <td>
                                    <button class="btn btn-xs btn-default" v-on:click="openNodeHandler(node)">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>
                        <select v-model="pageSize" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>records per page</label>
                </div>
            </div>
            <div class="col-md-4">
                <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
            </div>
            <div class="col-md-6">
                <paginate
                        :page-count="totalNumberOfPages"
                        :click-handler="setPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination pull-right'">
                </paginate>
            </div>
        </div>
    </div>

</template>
<script>

    import paginate from 'vuejs-paginate'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'

    var context = {}
    export default{
        props: {
            searchNodes: {
                type: Function,
                default: function () {
                }
            },
            openNodeHandler: {
                type: Function,
                default: function () {
                }
            },
            searchResult: {
                type: Array
            }, searchQueryObject: {
                type: Object
            },
            addNewNode: {
                type: Function,
                default: function () {
                }
            },
            showConfirmation: {
                type: Boolean
            },
            closeMessageAlert: {
                type: Function,
                default: function () {
                }
            },
            response: {
                type: Object
            }

        },
        components: {

            paginate
        },
        beforeMount(){
            context = this

        }, updated: function () {

        },
        mixins: [],
        data(){
            return {
                pageSize: 10,
                pageNumber: 1,
                totalNumberOfPages: 0,
                fromDate: '',
                toDate: '',
                nodeManipulated: {}
            }
        },
        computed: {
            nodes: {
                get: function () {

                    var paginatedFilteredList = context.searchResult;
                    var pages = paginatedFilteredList.length / this.pageSize
                    context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                    var pageSize = parseInt(context.pageSize)
                    var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                    if (pageNumber > context.totalNumberOfPages) {
                        pageNumber = context.totalNumberOfPages
                    }
                    var startingIndex = (pageNumber - 1) * pageSize
                    var endingIndex = startingIndex + pageSize

                    paginatedFilteredList = paginatedFilteredList.slice(startingIndex, endingIndex)
                    return paginatedFilteredList
                }
            }
        },
        methods: {
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            getNodes: function (event) {
                event.preventDefault()
                context.searchNodes()
            }

        }
    }
</script>
<style>


</style>