<template>

<div>

                <h4 v-if="user == undefined">
                    <div class="row">
                        <div class="col-xs-6"><span class="glyphicon glyphicon-user"></span>Manage Users</div>
                        <div class="col-xs-6"><button  class="btn btn-success btn-sm" style="float : right;" v-on:click="showNewUserForm($event)">
                            <span class="glyphicon glyphicon-plus"></span> Add New User</button></div>
                    </div>
                </h4>
                <h4 v-else-if="user.id"><span class="glyphicon glyphicon-user"></span>You are editing existing user</h4>
                <h4  v-else><span class="glyphicon glyphicon-user"></span>You are adding a new user</h4>

    <div class="container">
        <h3>Tabs With Dropdown Menu</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/admin/users">Submenu 1-1</a></li>
                    <li><a href="#/admin/roles">Submenu 1-2</a></li>
                    <li><a href="#">Submenu 1-3</a></li>
                </ul>
            </li>yy
            <li><router-link :to="{ name: 'roles'}">Manage Roles</router-link></li>
            <li><router-link :to="{ name: 'users'}">Manage Users</router-link></li>
        </ul>
    </div>

            <!-- ============================USER edit ----=== -->
            <form id="app" name="app" v-if="userId !== undefined || user != undefined">

                <div v-if="successMessage" class="alert alert-success">{{successMessage}}</div>
                <div class="form-block">
                    <strong>User Profile</strong>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" placeholder="Enter first name" v-model="user.firstname"/>
                                <span class="help is-danger" v-if="formError.firstname">{{formError.firstname}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" v-model="user.lastname"/>
                                <span class="help is-danger" v-if="formError.lastname">{{formError.lastname}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="cellphone">Cell Phone</label>
                                <input type="text" class="form-control" id="cellphone" placeholder="Enter cell phone" v-model="user.cellphone"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="officephone">Office Phone</label>
                                <input type="text" class="form-control" id="officephone" placeholder="Enter office phone" v-model="user.officephone"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" v-model="user.email"/>
                                <span class="help is-danger" v-if="formError.email">{{formError.email}}</span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model="user.active"> Is this user active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-block">
                    <div>
                        <strong>User's Nodes</strong>
                        <hr/>
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table">
                                    <thead>
                                    <th>Nodes</th>
                                    <th>Roles</th>
                                    </thead>
                                    <tbody>
                                    <tr v-for="node in user.userNodes">
                                        <td>{{node.name}}</td>
                                        <td class="col-xs-9"><multiselect  v-model="node.roles" :options="roles" :multiple="true" label="name" track-by="id" placeholder="+ Add Role">
                                        </multiselect></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-block">
                    <strong>Login Detail</strong>
                    <hr/>
                    <div class="form-group">
                        <label for="username">User name</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter user name" v-model="user.username"/>
                        <span class="help is-danger" v-if="formError.username">{{formError.username}}</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" v-model="user.password">
                        <span class="help is-danger" v-if="formError.username">{{formError.password}}</span>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" v-model="user.confirmPassword">
                        <span class="help is-danger" v-if="formError.confirmPassword || formError.passwordConfirm">{{formError.confirmPassword || formError.passwordConfirm}}</span>
                        <p class="help-block">Password and confirm password should be the same</p>
                    </div>
                    <button  class="btn btn-success btn-sm" v-on:click="saveUser($event)">Save user</button>
                    <button class="btn btn-default btn-sm" v-on:click="cancelUserForm($event)">cancel</button>


                </div>

            </form>

            <!-- ============================USER list ----==== -->
            <div v-else>

                <table class="table table-striped table-bordered table-hover dataTable" >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Active user</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in searchResult" :key="user.id" style="cursor : pointer;">
                        <td>{{index+1}}</td>
                        <td> {{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <span v-if="user.active" class="glyphicon glyphicon-ok"></span>
                            <span v-else class="glyphicon glyphicon-remove"></span></td>
                        <td><a v-bind:href="'#/admin/users?id='+ user.id">Edit</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

</div>
</template>

<script>
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import { Multiselect } from 'vue-multiselect';
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'

    var context = {}

    export default({
        data(){
            return {
                searchResult : [],
                user : undefined,
                userId : undefined,
                successMessage : undefined,
                formError : {},
                roles : undefined,
                loginVisibleNodes : [],

            }
        },
        components: {
            Multiselect
        },
        beforeMount(){
            context = this
            context.getAllUsers();
            context.getSelectedUser();
            context.loadNodes();
            context.getRoles();

        },
        watch : {
            '$route' (to, from){
                context.getSelectedUser();
            }
        },

        methods: {

            getSelectedUser : function(){
                context.userId = context.$route.query.id;

                if(context.userId == undefined) return;

                getHttpAuthenticatedWithLoadingFlag().get("/user/get?userId="+context.userId).then(function (response) {
                    context.user = response.data;
                    context.formError = {};
                    context.successMessage = undefined;
                    console.log(context.user);
                }).catch(function (e) {
                    console.log(e);
                });

                context.getRoles();
            },

            getRoles : function(){
                getHttpAuthenticatedWithLoadingFlag().get("/users/roles").then(function (response) {
                    context.roles = response.data;
                }).catch(function (e) {
                    console.log(e);
                });
            },

            getAllUsers : function(event){
                context.successMessage=undefined;

                getHttpAuthenticatedWithLoadingFlag().get("/users/users").then(function (response) {
                    context.searchResult = response.data;
                }).catch(function (e) {
                    console.log(e);
                });
            },

            cancelUserForm : function(event){
                context.userId = undefined;
                context.user = undefined;
                context.getAllUsers();
                context.successMessage = undefined;
                context.formError = {};
                context.$router.replace('');
            },

            showNewUserForm : function(event){
                context.loginVisibleNodes = context.nodes.filter(function(node){  return node.visibleForLogin });
                context.user = {new:true, active : true, userNodes: context.loginVisibleNodes};
                context.successMessage=undefined;
                context.formError = {};
            },

            saveUser : function(event){
                event.preventDefault()
                if(context.user.id){
                    context.user.password = context.user.password == "" ? null : context.user.password;
                    getHttpAuthenticatedWithLoadingFlag().post("/users/updateuser", context.user).then(function (response) {
                        context.successMessage = 'Login user information updated successfully';
                        context.formError = {}
                    }).catch(function (e) {
                        context.successMessage=undefined;
                        context.formError = e.response.data
                    })
                }
                else{
                    getHttpAuthenticatedWithLoadingFlag().post("/users/createuser", context.user).then(function (response) {
                        context.successMessage = 'New login user created successfully';
                        context.formError = {};
                    }).catch(function (e) {
                        context.successMessage=undefined;
                        context.formError = e.response.data
                    })
                }
            },

            loadRights : function () {
                getHttpAuthenticatedWithLoadingFlag().get('/users/rights').then(function(response){
                    context.rights = response.data;
                }).catch(function(error){
                    console.log(error)
                })
            },

            loadNodes: function(){

                getHttpAuthenticatedWithLoadingFlag().get('/get-all-nodes').then(function(response){
                    context.nodes = response.data;
                }).catch(function(error){
                    console.log(error)
                })
            },

        }
    })
</script>

<style>
    .form-block{
        padding: 12px 24px 12px 30px;
        margin: 1em 0;
        border-left-width: 4px;
        background-color: #f8f8f8;
        position: relative;
    }

    .static-action-bar{
        position: fixed;
        bottom: 0;

        display:flex;
        background-color: #222d32d9;
        padding: 8px 0px 6px 17px;
        margin-left: -25px;
    }

    .multiselect__tag {
        font-size : 12px;
    }

</style>