<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false" width="80%">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>Add Products to Dispensation</b>

            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cmbPrograms">Select Program</label>
                            <select name="cmbPrograms" v-model="currentProgram" id="cmbPrograms" class="form-control" @change="loadProductBalances()">
                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :selectedProduct="selectedProduct" :transactionHandler="addProductsHandler"
                                                   :showProductBalances="true"
                                                   :showProductBalanceInTabsOrMils="true"
                                                   :primaryButtonCaption="'Add Products'" :hideTransactionProducts="true"></transaction-product-batch>
                        <div class="row">
                            <button type="button" class="btn btn-primary" @click="closedHandler()"> <span class="fa fa-check-circle"></span> Done</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div slot="modal-footer" class="modal-footer">
        </div>
    </modal>
</template>
<script>
import modal from 'vue-strap/src/Modal'
import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../../assets/js/http_with_token'
import NodeProductsMixin from '../../../mixins/NodeProducts'
import NodeProductDateBalanceMixin from '../../../mixins/NodeProductDateBalance'
import Paginate from 'vuejs-paginate'
var context = {}
export default{
    props:{
        show:{
            type: Boolean,
            default: false
        },
        addProductsHandler:{
            type: Function,
            default: function(){
                alert('No function provided for this action!')
            }
        },
        closedHandler: {
            type: Function,
            default: function(){}
        },
        date:{
            type: Date
        }
    },
    data(){
        return {
            showModal: this.show,
            selectedProduct: {},
            productBalances: [],
            currentProgram: {},
            programs: [],
            nodePrograms: [],
            sortProgramsBy: 'code',
            txnDate: this.today()
        }
    },
    beforeMount(){
        context = this
        context.loadNodePrograms()
        context.loadPrograms()
    },
    components:{
        modal,
        'paginate': Paginate
    },
    mixins:[NodeProductsMixin, NodeProductDateBalanceMixin],
    watch:{
        show:function (value) {
            if(!value){
                context.selectedProduct = {}
                context.currentProgram = {}
            }
            context.showModal = value
        },
        date:function(value){
            context.txnDate = value
        }
    },
    computed:{
        myPrograms(){
            var sortColumn = context.sortProgramsBy
            var filteredPrograms = context.programs.filter(function(pr){
                for(var i=0;i<context.nodePrograms.length;i++){
                    if(pr.id === context.nodePrograms[i].programId){
                        return true
                    }
                }
                return false
            })

            filteredPrograms.sort((a, b) => {
                return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
            })

            return filteredPrograms
        }
    },
    methods:{
        productSelected: function(selectedProduct){
            selectedProduct.balances = context.productBalances[selectedProduct.productCode]
            context.selectedProduct = selectedProduct
        },
        loadPrograms: function(){
            getHttpAuthenticated().get("/programs").then(function(response) {
                context.programs = response.data
            }).catch(function(e) {
                context.http_errors.push(e)
            })
        },
        loadNodePrograms: function(){
            getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                .then(function(response) {
                    context.nodePrograms = response.data
                }).catch(function(e) {
                context.http_errors.push(e)
            })
        },
        loadProductBalances(){
            context.loadNodeProductDateBalances( context.txnDate,
                context.$store.state.persistedState.node.id, context.currentProgram.id)
        }
    }

}
</script>