<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>Change Dosage</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="txtDosageQuantity">Dosage Quantity</label>
                        <input id="txtDosageQuantity" class="form-control" v-model="dosageQuantity"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cmbDosageUnits">Dosage Unit</label>
                        <select v-model="dosageUnitSelected" name="cmbDosageUnits"
                                id="cmbDosageUnits" class="form-control">
                            <option v-for="dosageUnit in dosageUnits" :value="dosageUnit">
                                {{dosageUnit.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cmbDosageFrequency">Dosage Frequency</label>
                        <select v-model="dosageFrequencySelected" name="cmbDosageFrequency"
                                id="cmbDosageFrequency" class="form-control">
                            <option v-for="dosageFrequency in dosageFrequencies" :value="dosageFrequency">
                                {{dosageFrequency.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveDosageHandler(dosage)">Save</button>
            <button type="button" class="btn btn-danger" @click="closedHandler()">Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../../assets/js/http_with_token'
    var context = {}
    export default{
        props:{
            showChangeDosageModal:{
                type: Boolean,
                default: false
            },
            saveDosageHandler:{
                type: Function,
                default: function(){
                    alert('No function provided for this action!')
                }
            },
            closedHandler: {
                type: Function,
                default: function(){}
            }
        },
        data(){
            return {
                showModal: this.showChangeDosageModal,
                dosageQuantity: '',
                dosageUnitSelected: {},
                dosageFrequencySelected: {},
                dosageUnits:[],
                dosageFrequencies:[]
            }
        },
        beforeMount(){
            context = this
            context.loadDosageUnits()
            context.loadDosageFrequencies()
        },
        components:{
            'modal': modal
        },
        computed:{
            dosage: function(){
                return {
                    dosageQuantity: context.dosageQuantity,
                    dosageUnit: context.dosageUnitSelected,
                    dosageFrequency: context.dosageFrequencySelected
                }
            }
        },
        watch:{
            showChangeDosageModal: function(value){
                context.showModal = value
                if(!value){
                    context.resetData()
                }
            }
        },
        methods:{
            resetData(){
                context.dosageQuantity = ''
                context.dosageUnitSelected = {}
                context.dosageFrequencySelected= {}
            },
            loadDosageUnits(){
                getHttpAuthenticated().get("/dosage-units").then(function(response){
                    context.dosageUnits = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadDosageFrequencies(){
                getHttpAuthenticated().get("/dosage-frequencies").then(function(response){
                    context.dosageFrequencies = response.data
                }).catch(function(error){
                    console.log(error)
                })
            }
        }
    }
</script>