<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>Change Regimen</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cmbRegimenCategory">Regimen category</label>
                        <select v-model="regimenCategorySelected" name="cmbRegimenCategory"
                                id="cmbRegimenCategory" class="form-control" @change="regimenCategoryChanged()" >
                            <option v-for="regimenCategory in regimenCategories" :value="regimenCategory.id">
                                {{regimenCategory.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cmbRegimen">Regimen</label>
                        <select v-model="regimenSelected" name="cmbRegimen" id="cmbRegimen" class="form-control" >
                            <option v-for="regimen in regimens" :value="regimen.id">
                                {{regimen.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveRegimenHandler(regimenSelected)">Save</button>
            <button type="button" class="btn btn-danger" @click="closedHandler()">Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../../assets/js/http_with_token'
    var context = {}
    export default{
        props:{
            showChangeRegimenModal:{
                default: false
            },
            saveRegimenHandler:{
                type: Function,
                default: function(){
                    alert('No function provided for this action!')
                }
            },
            closedHandler: {
                type: Function,
                default: function(){}
            }
        },
        data(){
            return {
                showModal: this.showChangeRegimenModal,
                regimenSelected: {},
                regimenCategorySelected: {},
                regimenCategories:[],
                regimens:[]
            }
        },
        beforeMount(){
            context = this
            context.loadRegimenCategories()
            context.$store.dispatch('setShowBatchPanel', false)
        },
        beforeDestroy(){
            context.$store.dispatch('setShowBatchPanel', true)
        },
        components:{
            'modal': modal
        },
        watch:{
            showChangeRegimenModal: function(value){
                context.showModal = value
                if(!value){
                    context.resetData()
                }
            }
        },
        methods:{
            resetData(){
                context.regimenSelected = {}
                context.regimenCategorySelected= {}
                context.regimens.length = 0
            },
            regimenCategoryChanged(){
                context.loadRegimens(context.regimenCategorySelected)
            },
            loadRegimenCategories(){
                getHttpAuthenticated().get("/regimen-lines").then(function(response){
                    context.regimenCategories = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadRegimens(regimenCategoryId){
                getHttpAuthenticated().get("/rest-api/arv/regimens/" + regimenCategoryId).then(function(response){
                    context.regimens = response.data
                }).catch(function(error){
                    console.log(error)
                })
            }
        }
    }
</script>