<template>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>ART Number: 13 digits</label>
        <input class="form-control" placeholder="504015-000000123" v-model="artNumber">
      </div>

      <div class="form-group">
        <label>NRC Number: 9 digits without slashes</label>
        <input class="form-control" placeholder="1234789" v-model="nrcNumber">
      </div>
    </div>
    <!-- right column-->
    <div class="col-md-4 -cont">
      <div class="row">
        <div class="form-group">
          <button class="btn btn-block" @click="searchClient()">
            <i class="fa fa-search"></i>
            Search</button>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-block">
            <i class="fa fa-pencil"></i>
            Edit</button>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-block">
            <i class="fa fa-table"></i>
            Expected Clients</button>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-block">
            <i class="fa fa-search"></i>
            Advanced Search</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    var context = {}
    export default({
        props:{
            openCompleteClientRecordHandler: {
                type: Function,
                default: function(){}
            }
        },
        data(){
            return {
                artNumber:'',
                nrcNumber:'',
                arvClientResult:{}
            }
        },
        beforeMount(){
            context = this
        },
        watch: {
            arvClientResult: function(value){
                console.log(" loaded client "+ JSON.stringify(value))
            }
        },

        methods:{
            searchClient(){
                console.log("searching for artNumber : " + context.artNumber)
                var nodeId = context.$store.state.persistedState.node.id
                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/arv/client/"+context.artNumber+"/"+nodeId)
                    .then(function(response){
                        context.openCompleteClientRecordHandler(response.data)
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            }
        }
    })
</script>
<style>
  .-cont{
    margin-top: 25px;
  }
</style>
