<template>
    <div class="container">
        <changedosage :showChangeDosageModal="showChangeDosageModal" :closedHandler="changeDosageModalClosed" :saveDosageHandler="saveDosage"></changedosage>
        <changeregimen :showChangeRegimenModal="showChangeRegimenModal" :closedHandler="changeRegimenModalClosed" :saveRegimenHandler="saveRegimen"></changeregimen>
        <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
               :message="alertMessage" :closeHandler="closeDialog"></alert>
        <!--<div class="row" v-if="artPatientRecord.appointmentDate!==null">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>Your next appointment date is <strong>{{ new Date(artPatientRecord.appointmentDate) | formatDate }}</strong></p>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label >First Name</label>
                    <input class="form-control" :value="artPatientRecord.client.firstName" disabled>
                </div>

                <div class="form-group">
                    <label >Last Name</label>
                    <input class="form-control" :value="artPatientRecord.client.lastName" disabled>
                </div>

                <div class="form-group">
                    <label >Art Number</label>
                    <input class="form-control" :value="artPatientRecord.client.artNumber" disabled>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label >NRC Number</label>
                    <input class="form-control" :value="artPatientRecord.client.nrcNumber" disabled>
                </div>

                <div class="form-group">
                    <label>Date</label>
                    <br>
                    <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                </div>

                <div class="form-group">
                    <label>Current Regimen
                    </label>
                    <input class="form-control" :value="currentRegimen" disabled>

                    <button class="btn btn-xs btn-default" v-on:click="changeRegimen()">
                        <i class="fa fa-edit"></i> change</button>
                </div>

            </div>

            <div class="col-md-2">

                <div class="form-group">
                    <label >Product Combination</label>
                    <select v-model="productCombinationId" @change="loadCombinationProducts()" name="cmb-dispenser" class="form-control">
                        <option v-for="rcp in artPatientRecord.regimenCombos" :value="rcp.id" :key="rcp.id">{{ rcp.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label >Number of days</label>
                    <input class="form-control" placeholder="90" v-model="numberOfDays">
                </div>

                <div class="form-group">
                    <label >Dispenser</label>
                    <select v-model="dispenserId" name="cmb-dispenser" id="" class="form-control">
                        <option v-for="user in users" :value="user.id" :key="user.id">{{ user.firstname + " " + user.lastname }}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label >
                        <strong>Regimen Products</strong>
                    </label>
                    <table class="table table-striped table-bordered table-hover table-responsive dataTable">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                    <tbody>
                        <tr v-for="product in products" :key="product.productCode" class="selectable-row">
                            <td>{{ product.productCode }}</td>
                            <td>{{ product.primaryName }}</td>
                            <td>{{ product.dosageString }} <button class="btn btn-xs btn-default" v-on:click="changeDosage(product)"><i class="fa fa-edit"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                </div>


            </div>

            <div class="col-md-3">
                <vitals :vitals="vitals" :cd4Count="cd4Count" :viralLoad="viralLoad"></vitals>
            </div>


        </div>


        <div class="row">
            <div class="col-md-12">
                <dispensationproductbatches :primaryButtonCaption="'Dispense'" :nodeProducts="nodeProductList" :selectedProduct="selectedProduct" :items="transactionProducts" :transactionHandler="saveDispensation"
                                            :transactionProductBatchChangedHandler="transactionProductBatchChanged"></dispensationproductbatches>
            </div>
        </div>



    </div>
</template>
<script>
    import moment from 'moment'
    import datepicker from 'vue-strap/src/Datepicker'
    import checkbox from 'vue-strap/src/Checkbox'
    import changeregimen from './ChangeRegimen'
    import changedosage from './ChangeDosage'
    import dispensationproductbatches from './DispensationProductBatches'
    import vitals from './Vitals'
    import ARVNodeProductsMixin from '../../../mixins/PharmacyNodeProducts'
    import AlertMixin from '../../../mixins/AlertMixin'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated, getHttpAuthenticatedWithCallBack} from '../../../assets/js/http_with_token'

    var context = {}
    export default{
        props:{
            client: {
                type: Object
            },
            completeClientRecord: {
                type: Object
            },
            arvClientResult:{
                type: Object
            },
            openClientRecordHandler:{
                type: Function,
                default: function(){}
            },
            openCompleteClientRecordHandler:{
                type: Function,
                default: function(){}
            }
        },
        data(){
            return {
                showChangeRegimenModal: false,
                showChangeDosageModal: false,
                showSuccessAlert: false,
                showErrorAlert: false,
                alertTitle: 'Dispensation',
                alertMessage:'',
                facilityClient: {},
                artPatientRecord: {
                    appointmentDate: '',
                    client:{},
                    defaultCombo: {},
                    facilityClientCD4Count: {},
                    facilityClientViralLoad: {},
                    facilityClientVitals: {},
                    products: {},
                    regimenCombos: []
                },
                users:[],
                dispenserId: this.$store.state.persistedState.user.id,
                productCombination:{},
                nodeProductList:[],
                productCombinationId:'',
                txnDate: this.today(),
                dateFormat: 'dd-MMM-yyyy',
                stockStatus:[],
                products:[],
                emProducts:[],
                transactionProducts:[],
                productBatches: [],
                selectedProduct:{},
                numberOfDays: this.$store.state.arvPersistedState.numberOfDays,
                dosageEditProduct:{},
                arvDispenseRequest:{
                    node: '',
                    arvDispensationItems:[],
                    userId: '',
                    productComboId:'',
                    dispensationDate:'',
                    clientId:'',
                    dispenserId:''
                },
                search:""
            }
        },
        mixins:[
            ARVNodeProductsMixin, AlertMixin
        ],
        components: {
            'datepicker': datepicker,
            'checkbox': checkbox,
            'changedosage': changedosage,
            'changeregimen': changeregimen,
            'vitals': vitals,
            'dispensationproductbatches': dispensationproductbatches
        },
        mounted(){
            if(!context.isEmpty(context.client)){
                context.facilityClient = context.client
                context.getPatientRecord()
            }
        },
        beforeMount(){
            context = this
            context.loadUsers()
            context.loadProductBalances()
            context.loadNodeProducts(context.$store.state.persistedState.node.id, "ARV")//TODO: remove hardcoded value
            context.loadNodeProducts(context.$store.state.persistedState.node.id, "EM")//TODO: remove hardcoded value
        },
        watch: {
            client: function(newValue){
                if(newValue!== undefined && !context.isEmpty(newValue)){
                    context.facilityClient = newValue
                    context.getPatientRecord()
                }
            },
            completeClientRecord: function(value){
                context.artPatientRecord = value
                context.facilityClient = context.artPatientRecord.client
            },
            numberOfDays: function(value){
                context.$store.dispatch('setNumberOfDays', value).then(function () {
                    context.populateProducts()
                })
            },
            products: function(value){
                context.$store.dispatch('setRegimenProducts', value).then(function(){
                    context.loadProductBatches(value)
                })
            }
        },
        computed: {
            currentRegimen(){
                var currentRegimenProductCombination = 'Not set'
                context.productCombination = {}

                if(context.artPatientRecord.defaultCombo && context.artPatientRecord.defaultCombo !== null){
                    currentRegimenProductCombination = context.artPatientRecord.defaultCombo.name
                }else{
                    if(context.artPatientRecord.regimenCombos && context.artPatientRecord.regimenCombos.length > 0){
                        currentRegimenProductCombination = context.artPatientRecord.regimenCombos[0].name
                    }
                }
                return currentRegimenProductCombination
            },
            vitals(){
                return context.artPatientRecord.facilityClientVitals !== null ? context.artPatientRecord.facilityClientVitals : {}
            },
            cd4Count(){
                return context.artPatientRecord.facilityClientCD4Count !== null ? context.artPatientRecord.facilityClientCD4Count : {}
            },
            viralLoad(){
                return context.artPatientRecord.facilityClientViralLoad !== null ? context.artPatientRecord.facilityClientViralLoad : {}
            }
        },
        methods:{
            loadCombinationProducts(){
                getHttpAuthenticatedWithLoadingFlag().get("/combination-products?nodeId=" +context.$store.state.persistedState.node.id
                    +"&artNo="+context.artPatientRecord.client.artNumber
                    +"&comboId="+context.productCombinationId).then(function(response){
                    response.data.sort((a, b) => { return (a['productCode'] > b['productCode']) ? 1 : ((b['productCode'] > a['productCode']) ? -1 : 0) })
                    context.products = response.data
//                    context.loadProductBalances()
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadProductBalances(){
                var nodeId = context.$store.state.persistedState.node.id
                var programId = 3//TODO: change later
                getHttpAuthenticated().get("/rest-api/node/node/balances-on-date/"+ context.txnDate + "/" + nodeId + "/" + programId)
                    .then(function(response){
                        context.stockStatus  = response.data
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            },
            getPatientRecord(){
                context.products = []
                getHttpAuthenticatedWithLoadingFlag()
                    .get('/rest-api/arv/client/' + context.facilityClient.artNumber+ '/'+
                        context.$store.state.persistedState.node.id)
                    .then(function(response){
                        context.artPatientRecord = response.data
                        if(context.artPatientRecord.defaultCombo && context.artPatientRecord.defaultCombo !== null){
                            var matchingRegimenProductComb = context.artPatientRecord.regimenCombos.filter(function(item){
                                return item.id === context.artPatientRecord.defaultCombo.id
                            })
                            if(matchingRegimenProductComb.length > 0){
                                context.productCombinationId =  matchingRegimenProductComb[0].id
                            }
                            context.products = context.artPatientRecord.products
                        }else{
                            if(context.artPatientRecord.regimenCombos && context.artPatientRecord.regimenCombos.length > 0){
                                context.productCombinationId = context.artPatientRecord.regimenCombos[0].id
                                context.loadCombinationProducts()
                            }
                        }
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            },
            loadUsers(){
                getHttpAuthenticated().get('/users/users').then(function(response){
                    context.users = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            changeRegimen(){
                context.showChangeRegimenModal = true
            },
            changeRegimenModalClosed(){
                context.showChangeRegimenModal = false
            },
            changeDosage(product){
                context.dosageEditProduct = product
                context.showChangeDosageModal = true
            },
            changeDosageModalClosed(){
                context.showChangeDosageModal = false
            },
            saveRegimen(newRegimenId){
                context.facilityClient.regimenId = newRegimenId
                getHttpAuthenticatedWithLoadingFlag().post("/change-regimen", context.facilityClient).then(function(response){
//                    context.client.regimenId = newRegimenId
                    context.showChangeRegimenModal = false
                    context.getPatientRecord()
                }).catch(function (error) {
                    console.log(error)
                })
            },
            saveDosage(dosage){
                context.dosageEditProduct.dosageString = (dosage.dosageQuantity + " " + dosage.dosageUnit.name + " " +
                    dosage.dosageFrequency.name)
                context.dosageEditProduct.defaultDosageQuantity = dosage.dosageQuantity
                context.dosageEditProduct.dosageQuantityPerDay = dosage.dosageFrequency.numericQuantityPerDay
                context.populateProducts()
                context.showChangeDosageModal = false
            },
            selectProduct(product){
                product.productName = product.primaryName
                context.selectedProduct.balances = stockStatus[product.productCode]
                context.selectedProduct = product
            },
            saveDispensation(transactionProducts){
                console.log("TRANSACTION PRODUCTS SIZE " + transactionProducts.length)
                var txnPrd = {}
                for(var i=0;i<transactionProducts.length;i++){
                    txnPrd = transactionProducts[i]
                    context.arvDispenseRequest.arvDispensationItems.push({
                        txnProduct: txnPrd,
                        arvDispensationLineItem: {
                            numberOfDays: (context.numberOfDays!== undefined || context.numberOfDays!=='') ? context.numberOfDays : 0,
                            remainingNoOfDays: 0
                        }
                    })
                }

                context.arvDispenseRequest.productComboId = context.productCombinationId
                context.arvDispenseRequest.dispensationDate = (context.txnDate ? context.parseDate(context.txnDate, 'DD-MMM-YYYY') : new Date().getTime())
                context.arvDispenseRequest.clientId = context.artPatientRecord.client.id
                context.arvDispenseRequest.dispenserId = context.dispenserId
                context.arvDispenseRequest.node = context.$store.state.persistedState.node
                context.arvDispenseRequest.userId = context.$store.state.persistedState.user.id

                getHttpAuthenticatedWithLoadingFlag()
                    .post("/dispense-arv",  context.arvDispenseRequest).then(function (response) {
                    context.alertMessage = 'Dispensation successfully saved!'
                    context.$store.dispatch('setTransactionProducts',[])
                    context.transactionProducts = []
                    context.numberOfDays = 0
                    context.showSuccessAlert = true
                }).catch(function (error) {
                    context.alertMessage = 'Sorry An error has occurred!'
                    context.showErrorAlert = true
                })
            },
            populateProducts(){
                var txnProducts = []
                var numberOfDays = parseInt(context.$store.state.arvPersistedState.numberOfDays)
                var productBatches = context.$store.state.arvPersistedState.productBatches
                numberOfDays = !isNaN(numberOfDays) ? numberOfDays : parseInt(0)
                console.log("Number of Days " + numberOfDays )
                if(numberOfDays > parseInt(0) ){
                    var regimenProducts = context.$store.state.arvPersistedState.regimenProducts
                    //get the first batch for every product in the regimenProducts and set quantities to be dispensed
                    //or if there is not enough stock move to the next batch and add the remaining quantity keep on doing
                    //so until we have added enough of the required quantity

                    regimenProducts.forEach(function(regimenProduct){
                        var packSize = parseInt(regimenProduct.dosesPerDispensingUnit)
                        var grossQuantity = parseInt(regimenProduct.defaultDosageQuantity)
                            * parseInt(regimenProduct.dosageQuantityPerDay) * numberOfDays
                        var quantityInBottles = parseFloat(numberOfDays !== 0 ? grossQuantity/packSize : 0).toFixed(2)
                        var matches = txnProducts.filter(function(txnProd){
                            return txnProd.productCode === regimenProduct.productCode
                        })

                        var regimenProductWithBatch = productBatches.find(function(productBatch){
                            return productBatch.productCode === regimenProduct.productCode
                        })


                        if( regimenProductWithBatch === undefined ){
                            return
                        }

                        var availableBatches = regimenProductWithBatch.batches.filter(function (b) {
                            return !b.isExpired
                        })

                        var nPProductBatchBalances = context.stockStatus[regimenProduct.productCode].nodeProgramProductBatchBalances

                        var remainingGrossQty = grossQuantity
                        var remainingQty = quantityInBottles
                        const sumReducer = function(productBatch1, productBatch2){
                            return productBatch1.usableBalance + productBatch2.usableBalance
                        }
                        var batchesToDispense = []
                        for (var i = 0; i < availableBatches.length; i++){

                            var regimenProductBatch = availableBatches[i]
                            var nPProductBatchBalanceMatch = nPProductBatchBalances.find(function (nPProductBatchBalance) {
                                return parseInt(nPProductBatchBalance.nodeProgramProductBatch.id) === parseInt(regimenProductBatch.nppbId)
                                    && nPProductBatchBalance.usableBalance > 0
                            })

                            if(nPProductBatchBalanceMatch){
                                regimenProductBatch.balance = parseInt(nPProductBatchBalanceMatch.balance)
                                regimenProductBatch.usableBalance = parseInt(nPProductBatchBalanceMatch.usableBalance)

                                if( (regimenProductBatch.usableBalance - quantityInBottles) < 0 ){
                                    regimenProductBatch.quantity = regimenProductBatch.usableBalance
                                    regimenProductBatch.grossQuantity = regimenProductBatch.usableBalance *
                                        (parseInt(regimenProduct.defaultDosageQuantity) * parseInt(regimenProduct.dosageQuantityPerDay))
                                }else{
                                    regimenProductBatch.quantity = remainingQty
                                    regimenProductBatch.grossQuantity = grossQuantity
                                }

                                if(remainingQty > 0){
                                    batchesToDispense.push(regimenProductBatch)
                                }

                                remainingQty -= regimenProductBatch.quantity
                                remainingGrossQty -= regimenProductBatch.grossQuantity

                                if(batchesToDispense.length > 0 && batchesToDispense.reduce(sumReducer) >= parseInt(quantityInBottles)){
                                    break
                                }

                            }
                        }



                        batchesToDispense.forEach(function (batchToDispense) {
                            txnProducts.push({
                                product: {
                                    productCode: regimenProduct.productCode,
                                    productName: regimenProduct.primaryName
                                },
                                productCode: regimenProduct.productCode,//TODO: for ease of sorting, is there a better way??
                                productName: regimenProduct.primaryName,//TODO: for ease of sorting, is there a better way??
                                batchNumber: batchToDispense.name,
                                expiryDate: batchToDispense.expiryDate,
                                quantityInBottles: batchToDispense.quantity,
                                quantity: batchToDispense.grossQuantity,
                                remark: 'Dispensation',
                                productBatches: regimenProductWithBatch.batches,
                                selected: true,
                                usableBalance: batchToDispense.usableBalance,
                                programProductBatchId: batchToDispense.id,
                                programProductId: regimenProduct.programProductId
                            })
                        })
                    })
                }

                console.log(txnProducts)
                context.$store.dispatch('setTransactionProducts', txnProducts).then(function () {
                    context.transactionProducts = txnProducts
                })
            },
            //TODO: rewrite this function
            loadProductBatches(products){
                var productCodes = products.map(product => product.productCode)
                var productBatches = []

                getHttpAuthenticatedWithCallBack(function(productBatchesResponse){
                    productCodes.forEach(productCode =>{
                        var productBatchList  = productBatchesResponse[productCode]
                        var nodeProducts = context.nodeProductList
                        var nodeProductMatch = nodeProducts.find(function (np) {
                            return np.nodeProduct.programProduct.product.code === productCode
                        })

                        console.log("Matching node product found")
                        console.log(nodeProductMatch)
                        var nodeProgramProductBatches = nodeProductMatch.nodeProduct.nodeProgramProductBatches

                        productBatchList.forEach(productBatch =>{
                            var nppbMatch = nodeProgramProductBatches.find(function (nppb) {
                                return nppb.programProductBatchId === productBatch.id
                            })

                            if(nppbMatch){
                                productBatch.nppbId = nppbMatch.id
                                productBatch.programProductBatchId = nppbMatch.programProductBatchId
                                productBatch.isExpired =  productBatch.expiryDate < new Date().getTime()
                            }

                        })

                        productBatches.push({
                            "productCode": productCode,
                            "batches": productBatchList
                        })

                        console.log(productBatches)

                    })
                    context.$store.dispatch('setProductBatches', productBatches)
                        .then(function () {
                            context.populateProducts()
                        })
                    }).post("/rest-api/batches", productCodes).catch(function(e) {
                        console.log(e)
                    })
            },
            transactionProductBatchChanged(transactionProduct){

                var selectedBatch = transactionProduct.productBatches.find(function (batch) {
                    return batch.name === transactionProduct.batchNumber
                })

                transactionProduct.selectedBatch = selectedBatch

                var nPProductBatchBalances = context.stockStatus[transactionProduct.productCode].nodeProgramProductBatchBalances
                var nPProductBatchBalanceMatch = nPProductBatchBalances.find(function (nPProductBatchBalance) {
                    return parseInt(nPProductBatchBalance.nodeProgramProductBatch.id) === parseInt(transactionProduct.selectedBatch.nppbId)
                })

                if(nPProductBatchBalanceMatch){
                    transactionProduct.expiryDate = selectedBatch.expiryDate
                    transactionProduct.balance = parseInt(nPProductBatchBalanceMatch.balance)
                    transactionProduct.usableBalance = parseInt(nPProductBatchBalanceMatch.usableBalance)
                }else{
                    transactionProduct.expiryDate = selectedBatch.expiryDate
                    transactionProduct.balance = parseInt(0)
                    transactionProduct.usableBalance = parseInt(0)
                }
            }
        }
    }
</script>
