<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
        <addotherproducts :show="addOtherProductsModalConfig.showAddOtherProductsModal"
                          :addProductsHandler="addOtherProducts"
                          :closedHandler="closeAddOtherProductsModal" ></addotherproducts>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Dispensation Product Batch Quantities</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label>Filter Products</label>
                            <input v-model="search" class="form-control" placeholder="Abacavir 300mg Tablets">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th align="center">
                                    <input type="checkbox" v-model="selectAllOrNone" style="width: 100%">
                                </th>
                                <th v-for="column in columns" :key="column.key" class="align-right">
                                    <a href="#" v-on:click="sortBy(column, $event)" v-bind:class="sortKey == column">
                                        {{ column | capitalize }}
                                        <i :class="getSortIcon(column)"></i>
                                    </a>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--TODD: highlight rows which are erroneous-->
                            <tr v-for="transactionProduct in filteredTransactionProducts" :key="transactionProduct.programProductBatchId">
                                <td align="center"><input type="checkbox" v-model="transactionProduct.selected"></td>
                                <td :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                    v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                    {{transactionProduct.productCode}}</td>
                                <td :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                    v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                    {{transactionProduct.productName}}</td>
                                <td>
                                    <select v-model="transactionProduct.batchNumber" name="cmbProductBatches"
                                            id="cmbProductBathces" @change="transactionProductBatchChangedHandler(transactionProduct)">
                                        <option v-for="batch in transactionProduct.productBatches"
                                                :value="batch.name"
                                                :disabled="batch.isExpired">{{batch.name}}</option>
                                    </select>
                                </td>
                                <td>{{new Date(transactionProduct.expiryDate) | formatDate}}</td>
                                <td class="text-right">{{ transactionProduct.usableBalance }}</td>
                                <td>{{transactionProduct.quantityInBottles}}</td>
                                <td><input class="form-control text-right" v-model="transactionProduct.quantity" @input="updateQuantityInBottles(transactionProduct,$event)"></td>
                                <td>
                                    <button class="btn btn-xs btn-default" v-on:click="deleteItem(transactionProduct)"><i class="fa fa-trash"></i> Delete</button>
                                </td>
                            </tr>
                            <tr v-if="totalTransactionQuantity!==parseFloat(0).toFixed(2)">
                                <td colspan="7"><strong class="pull-right">TOTAL</strong></td>
                                <td><strong class="pull-right">{{totalTransactionQuantity}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>
                                <select v-model="pageSize" class="form-control">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>records per page</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <paginate
                                :page-count="totalNumberOfPages"
                                :click-handler="setPage"
                                :prev-text="'Prev'"
                                :next-text="'Next'"
                                :container-class="'pagination'">
                        </paginate>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row ">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <button class="btn btn-sm btn-success " v-on:click='transactionHandler(getTxnProgProdBatch())'>
                                <i class="fa fa-save"></i> {{ primaryButtonCaption }}</button>

                            <button class="btn btn-sm btn-primary" @click="showAddOtherProductsModal()"><i class="fa fa-plus-circle"></i> Add Other</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import Paginate from 'vuejs-paginate'
    import {getHttpAuthenticated} from '../../../assets/js/http_with_token'
    import AddOtherProducts from './AddOtherProducts'

    var context = {}
    export default{
        props: {
            transactionHandler: {
                type: Function,
                default: function () {
                }
            },
            selectedProduct: {
                type: Object
            },
            primaryButtonCaption: {
                type: String,
                default: 'Save'
            },
            showProductBalances: {
                type: Boolean,
                default: false
            },
            showAdustmentType: {
                type: Boolean,
                default: false
            },
            editTransactionProducts: {
                type: Boolean,
                default: true //TODO: change to false and let the parent component set this value
            },
            transactionProductBatchChangedHandler: {
                type: Function
            },
            items:{
                type: Array,
                default: []
            },
            nodeProducts:{
                type: Array,
                default: []
            }
        },
        data(){
            return {
                product: this.selectedProduct,
                sortKey: 'productCode',
                reverse: false,
                columns: [{'key': 'productCode', 'value': 'Product Code'},
                    {'key': 'productName', 'value': 'Product Name'},
                    {'key': 'batchNumber', 'value': 'Batch Number'},
                    {'key': 'expiryDate', 'value': 'Expiry Date'},
                    {'key': 'balance', 'value': 'Balance'},
                    {'key': 'quantityInBottles', 'value': 'Quantity'},
                    {'key': 'quantity', 'value': 'Quantity(tabs/mls)'},
                    ],
                batchList:[],
                search: '',
                pageNumber: 1,
                totalNumberOfPages: 0,
                pageSize: 10,
                batchNumber:'',
                quantityInBottles:'',
                expiryDate:'',
                remark:'',
                transactionProducts: [],
                transactionProductToEdit: {},
                transactionProductToDelete: {},
                showBatchPanel : this.$store.state.persistedState.showBatchPanel,
                selectAllOrNone: true,
                addOtherProductsModalConfig:{
                    showAddOtherProductsModal: false
                }
            }
        },
        mixins:[
//           ProductBatchMixin
        ],
        components:{
            'paginate': Paginate,
            'accordion': accordion,
            'panel': panel,
            'addotherproducts':AddOtherProducts
        },
        beforeMount(){
            context = this
        },
        watch: {
            selectAllOrNone: function(value){
                for(var i = 0; i < context.transactionProducts.length; i++){
                    context.transactionProducts[i].selected = value
                }
            },
            items: function(value){
                context.transactionProducts = value
            }
        },
        computed:{
            totalTransactionQuantity(){
                var total = 0
                context.transactionProducts.forEach(function(txnProduct){
                    if(txnProduct.selected)
                    {
                        total += parseFloat(txnProduct.quantity!=='' ? txnProduct.quantity : 0)
                    }
                })
                return total.toFixed(2)
            },
            filteredTransactionProducts(){
                context.transactionProducts = context.$store.state.persistedState.transactionProducts
                var filteredList = context.transactionProducts.filter(function(txnProduct){
                    var searchKey = context.search.toLowerCase()
                    var productCode = txnProduct.product.productCode.toLowerCase()
                    var productName = txnProduct.product.productName.toLowerCase()
                    return ((productCode.indexOf(searchKey) !== -1)
                            || (productName.indexOf(searchKey) !== -1))
                })

                var pages = filteredList.length / context.pageSize
                context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)

                var type = context.reverse ? 'desc' : 'asc'
                var orderBy = type.toUpperCase()
                var column = context.sortKey['key']
                if (!column) {
                    column = 'productCode'
                }
                if (['ASC', 'DESC'].indexOf(orderBy) === -1) {
                    console.error(type, 'Not valid, please use ASC or DESC')
                    return
                }
                if (!this.reverse) {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                } else {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? -1 : ((b[column] > a[column]) ? 1 : 0) })
                }

                var pageSize = parseInt(context.pageSize)
                var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                if (pageNumber > context.totalNumberOfPages) {
                    pageNumber = context.totalNumberOfPages
                }
                var startingIndex = (pageNumber - 1) * pageSize
                var endingIndex = startingIndex + pageSize
                var paginatedFilteredList = filteredList.slice(startingIndex, endingIndex)
                return paginatedFilteredList
            }
        },
        filters: {
            capitalize: function (columnObj) {
                return columnObj['value']
            }
        },
        methods:{
            updateQuantityInBottles(txnProduct, event){
                event.preventDefault()
                var targetElement = event.target
                var quantity = targetElement.value
                if(isNaN(quantity)) {
                    alert("Only positive numbers are allowed!")
                    var val = parseFloat(quantity)
                    targetElement.value = isNaN(val) ? '0.0' : val
                    txnProduct.quantity = isNaN(val) ? 0.0 : val
                }else if(parseFloat(quantity) <= 0.0){
                    alert("Only positive numbers are allowed!")
                    targetElement.value = '0.0'
                    txnProduct.quantity = 0.0
                }

                var quantityInBottles = txnProduct.quantityInBottles
                var regimenProducts = context.$store.state.arvPersistedState.regimenProducts


                var regimenProductMatch = regimenProducts.find(function(regimenProduct){
                    return regimenProduct.productCode === txnProduct.productCode
                })

                if(regimenProductMatch !== undefined){
                    console.log("Match Found")
                    console.log(regimenProductMatch)
                    quantityInBottles = parseFloat(txnProduct.quantity / regimenProductMatch.dosesPerDispensingUnit).toFixed(2)
                }else{
                    context.printJSON(context.nodeProducts)
                    var nodeProduct = context.nodeProducts.find(function(np){
                        return np.productCode === txnProduct.productCode
                    })
                    quantityInBottles = parseFloat(txnProduct.quantity / nodeProduct.packSize).toFixed(2)
                }
                txnProduct.quantityInBottles = quantityInBottles
                if(txnProduct.usableBalance < quantityInBottles){
                    txnProduct.quantityInBottles = txnProduct.usableBalance
                    txnProduct.quantity = parseFloat(txnProduct.usableBalance * regimenProductMatch.dosesPerDispensingUnit).toFixed(2)
                }

            },
            deleteItem(txnProduct){
                var r = confirm("Are you sure you want to delete this record?")
                if (r == true) {
                    context.transactionProducts.splice(context.transactionProducts.indexOf(txnProduct), 1)
                    context.$store.dispatch('setTransactionProducts', context.transactionProducts)
                }
            },
            closeAddOtherProductsModal(){
                context.addOtherProductsModalConfig.showAddOtherProductsModal = false
            },
            showAddOtherProductsModal(){
                context.addOtherProductsModalConfig.showAddOtherProductsModal = true
            },
            addOtherProducts(products){
                console.log("Added products" + products)
                context.addOtherProductsModalConfig.showAddOtherProductsModal = false
            },
            sortBy: function (newSortKey, event) {
                event.preventDefault()
                context.reverse = (context.sortKey === newSortKey) ? !context.reverse : false
                context.sortKey = newSortKey
            },
            getSortIcon: function(column){
                if(column == context.sortKey){
                    if(context.reverse){
                        return 'fa fa-sort-desc'
                    }else{
                        return 'fa fa-sort-asc'
                    }
                }else{
                    return 'fa fa-sort'
                }
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            getCountOfBatches(transactionProduct, filteredList){

                var parentList = context.transactionProducts
                var productCode = transactionProduct.productCode
                var count = parseInt(0)

                if(filteredList !== null){
                    filteredList.forEach(value => {
                        if(value.productCode === productCode){
                            count +=1
                        }
                    })
                }else{
                    parentList.forEach(value => {
                        if(value.productCode === productCode){
                            count +=1
                        }
                    })
                }

                return count
            },
            showCell(transactionProduct, parentList){

                var filteredList = parentList.filter(function(txnPrd){
                    return txnPrd.productCode === transactionProduct.productCode
                })

                if(parseInt(context.getCountOfBatches(transactionProduct, null)) > 1){
                    return parseInt(filteredList.indexOf(transactionProduct)) === 0
                }else{
                    return true
                }

            },
            getTxnProgProdBatch(){
                var txnProducts = context.transactionProducts
                var txnProgProdBatches = []
                var txnProgProdBatch = {}
                var txnProd = {}

                for(var i=0; i < txnProducts.length; i++){


                    txnProd = txnProducts[i]

                    if(!txnProd.selected){
                        continue
                    }
                    txnProgProdBatch = {
                        programProductBatchId: txnProd.programProductBatchId,
                        quantity: txnProd.quantityInBottles,
                        remarks: txnProd.remark
                    }

                    var matchingProducts = txnProgProdBatches.filter(function(tp){
                        return tp.product.productCode === txnProd.product.productCode
                    })

                    if(matchingProducts.length > 0){
                        matchingProducts[0].batchQuantities.push(txnProgProdBatch)
                    }else {
                        txnProgProdBatches.push({
                            product: txnProd.product,
                            programProductId: txnProd.programProductId,
                            batchQuantities: [txnProgProdBatch]
                        })
                    }
                }

                return txnProgProdBatches
            }

        }
    }
</script>