<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4" v-if="hasPermission('ARV DISPENSATION')">
                <button class="btn btn-default big-btn alert-success"
                        @click="dispensationTypeSelectionHandler('ARV')"> <i class="fa fa-4x fa-medkit"></i> <br>ARV Pharmacy</button>
            </div>
            <div class="col-md-4 col-md-pull-2" v-if="hasPermission('EM DISPENSATION')">
                <button class="btn btn-info  big-btn"
                        @click="dispensationTypeSelectionHandler('EM')"> <i class="fa fa-4x fa-ambulance"></i> <br> EM Pharmacy</button>
            </div>
        </div>
    </div>
</template>
<style>
    .big-btn{
        width: 150px;
        height: 150px;
    }
</style>
<script>
export default{
    props:{
        dispensationTypeSelectionHandler:{
            type:Function
        }
    }
}
</script>