<template>
    <div class="container">
        <div class="well well-sm">
            <div class="row">
                <form>
                    <div class="container">
                        <div class="col-sm-2 col-md-2">
                            <div class="form-group">
                                <label>Date</label>
                                <br>
                                <datepicker v-model="txnDate" :format="dateFormat"></datepicker>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">Search Result</h4>
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th>Select All/ None</th>
                                <th>ART Number</th>
                                <th>NRC Number</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Birth date</th>
                                <th>Sex</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="selectable-row">
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>
                        <select v-model="pageSize" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>records per page</label>
                </div>
            </div>
            <div class="col-md-4">
                <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
            </div>
            <div class="col-md-6">
                <paginate
                        :page-count="totalNumberOfPages"
                        :click-handler="setPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination pull-right'">
                </paginate>
            </div>
        </div>


    </div>
</template>
<script>
    import datepicker from 'vue-strap/src/Datepicker'
    import Paginate from 'vuejs-paginate'
    var context={}
    export default{
        data(){
            return {
                txnDate: this.today(),
                dateFormat: 'dd-MMM-yyyy',
                totalNumberOfPages:0,
                pageNumber:1,
                pageSize:5
            }
        },
        beforeMount(){
            context = this
        },
        components: {
            'paginate': Paginate,
            'datepicker': datepicker
        },
        methods: {
            setPage:function(pageNumber){
                context.pageNumber = pageNumber
            }
        }
    }
</script>