<template>
    <div class="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Physical Count
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeDialog"></alert>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Date</label>
                                            <br>
                                            <datepicker :value.sync="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Program</label>
                                            <select name="cmbPrograms" v-model="currentProgram" id="cmbPrograms" class="form-control" @change="loadProductBalances()">
                                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :selectedProduct="selectedProduct"
                                                   :transactionHandler="savePhysicalCount"
                                                   :primaryButtonCaption="'Save PC'"
                        :transactionType="txnType"></transaction-product-batch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    var context = {}
    export default{
        data(){
            return {
                txnType:"PHYSICAL_COUNT",
                txnDate: this.today(),
                dateFormat: 'MMM/dd/yyyy',
                currentProgram:{},
                programs:[],
                nodePrograms:[],
                sortProgramsBy: 'code',
                alertTitle: 'Stock Management',
                alertMessage:'',
                showSuccessAlert: false,
                showErrorAlert: false,
                selectedProduct:{},
                productBalances:[]
            }
        },
        components:{
            'datepicker': datepicker
        },
        beforeMount(){
            context = this
            context.loadPrograms()
            context.loadNodePrograms()
        },
        mixins:[
            AlertMixin, NodeProductDateBalanceMixin
        ],
        computed:{
            myPrograms(){
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            }
        },
        methods:{
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.txnDate,
                    context.$store.state.persistedState.node.id, context.currentProgram.id)
            },
            loadPrograms: function(){
                getHttpAuthenticated().get("/programs").then(function(response) {
                    context.programs = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
            },
            savePhysicalCount(transactionProducts){
                console.log("saving physical counts...")
                context.printJSON(transactionProducts)
            }
        }
    }
</script>