<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
 	<accordion  type="info">
		  <panel>
		    <strong slot="header"><u> <span class="glyphicon glyphicon-user"></span>Manage Users</u></strong>
				<!-- ============================USER edit ----=== -->
				 <form id="app" name="app" v-if="userId !== undefined || user != undefined">
					 <strong>
					  <h3 v-if="userId">YOU ARE EDITING EXISTING LOGIN USER</h3>
					  <h3 v-else>YOU ARE ADDING A NEW LOGIN USER</h3>
					 </strong>
					<!-- <div v-if="successMessage" class="alert alert-success">{{successMessage}}</div> -->
					<div class="form-block">
					<strong>User Profile</strong>
					<hr/>
					<div class="row">
						<div class="col-xs-6">
								<div class="form-group">
							    <label for="firstname">First Name</label>
							    <input type="text" class="form-control" id="firstname" placeholder="Enter first name" v-model="user.firstname"/>
							    <span class="help is-danger" v-if="formError.firstname">{{formError.firstname}}</span>
							  </div>
						</div>
						<div class="col-xs-6">
							  <div class="form-group">
							    <label for="lastname">Last Name</label>
							    <input type="text" class="form-control" id="lastname" placeholder="Enter last name" v-model="user.lastname"/>
							    <span class="help is-danger" v-if="formError.lastname">{{formError.lastname}}</span>
							  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
						 <div class="form-group">
						    <label for="cellphone">Cell Phone</label>
						    <input type="text" class="form-control" id="cellphone" placeholder="Enter cell phone" v-model="user.cellphone"/>
						  </div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
							    <label for="officephone">Office Phone</label>
							    <input type="text" class="form-control" id="officephone" placeholder="Enter office phone" v-model="user.officephone"/>
							  </div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
						  <div class="form-group">
						    <label for="email">Email</label>
						    <input type="email" class="form-control" id="email" placeholder="Enter Email" v-model="user.email"/>
						    <span class="help is-danger" v-if="formError.email">{{formError.email}}</span>
						  </div>
						</div>
						<div class="col-xs-6">
							<div class="checkbox">
						    <label>
						      <input type="checkbox" v-model="user.active"> Is this user active
						    </label>
						  </div>
						</div>
					</div>
					</div>
					<strong>User's Nodes</strong>
					<div class="form-block">
					<div>
						<div class="row"> 
							<div class="col-xs-12">
								<table class="table">
									<thead>
									<th>Nodes</th>
									<th>Roles</th>
									</thead>
									<tbody>
									<tr v-for="node in user.userNodes">
										<td>{{node.name}}</td>
										<td class="col-xs-9"><multiselect  v-model="node.roles" :options="roles" :multiple="true" label="name" track-by="id" placeholder="+ Add Role">
										</multiselect></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</div>
				  <div class="form-block">
				   <strong>Login Detail</strong>
				   <hr/>
					  <div class="form-group">
					    <label for="username">User name</label>
					    <input type="text" class="form-control" id="username" placeholder="Enter user name" v-model="user.username"/>
					    <span class="help is-danger" v-if="formError.username">{{formError.username}}</span>
					  </div>					  
					  <div class="form-group">
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" placeholder="Enter Password" v-model="user.password">
					    <span class="help is-danger" v-if="formError.username">{{formError.password}}</span>
					  </div>
					  <div class="form-group">
					    <label for="confirmpassword">Confirm Password</label>
					    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" v-model="user.confirmPassword">
					    <span class="help is-danger" v-if="formError.confirmPassword || formError.passwordConfirm">{{formError.confirmPassword || formError.passwordConfirm}}</span>
					     <p class="help-block">Password and confirm password should be the same</p>
					  </div>
					 	  <button  class="btn btn-success btn-sm" v-on:click="saveUser($event)">Save user</button>
						  <router-link :to="{ name: 'manage_users', query: {action : 'list'}}"> Cancel</router-link>
						  <!-- <span class="action-success-message" v-if="successMessage"> <span class="glyphicon glyphicon-ok"></span> Login user information updated successfully</span> -->
						 </div>
					 
					</form>
		 	
					<!-- ============================USER list ----==== -->
					<div v-else>
					<div class="row">
						<div class="col-xs-6"><h3>LIST OF LOGIN USERS</h3></div>
						<div class="col-xs-6">
							<router-link :to="{ name: 'manage_users', query : {action : 'new_user'}}" class="btn btn-success btn-sm pull-right" >
								<span class="glyphicon glyphicon-plus"></span> Add new login user
							</router-link>
						</div>
					</div>
						<div class="row">
							<div class="col-xs-12">
								<div v-if="successMessage" class="alert alert-success">{{successMessage}}</div>
							</div>
						</div>
					<br/>
						  <table class="table table-striped table-bordered table-hover dataTable" >
							<thead>
								<tr>
									<th>#</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>User Name</th>
									<th>Active user</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(user, index) in searchResult" :key="user.id" style="cursor : pointer;">
									<td>{{index+1}}</td>
									<td> {{user.firstname}}</td>
									<td>{{user.lastname}}</td>
									<td>{{user.username}}</td>
									<td>
										<span v-if="user.active" class="glyphicon glyphicon-ok"></span>
										<span v-else class="glyphicon glyphicon-remove"></span></td>
									<td><!-- <a v-bind:href="'users?id='+ user.id">Edit</a> -->
										<router-link :to="{ name: 'manage_users', query : {action: 'edit_user', id : user.id}}">Edit</router-link> </td>
								</tr>
							</tbody>
						</table>
					</div>
		  </panel>
		  <panel  is-open>
		    <strong slot="header"><u><span class="glyphicon glyphicon-lock"></span>Manage Roles</u></strong>
		<div v-if="!role">
			  <h3>List of Roles</h3>
				  <div class="row">
					  <div class="col-xs-12">
						  <router-link :to="{ name: 'manage_users', query : {action : 'new_role'}}" class="btn btn-success btn-sm pull-right" >
							  <span class="glyphicon glyphicon-plus"></span> Add New Role
						  </router-link>
					  </div>
				  </div>
			<br>
				<div class="row">
					<div class="col-xs-12">
						<div v-if="successRoleMessage" class="alert alert-success">{{successRoleMessage}}</div>
					</div>
				</div>

			  <table class="table" id="roleList">
				  <thead>
				  <td>#</td>
				  <th>Role</th>
				  <th>Description</th>
				  </thead>
				  <tbody>
				  <tr  v-for="(role,index) in roles">
					  <td>{{index+1}}</td>
					  <td style="width :30%;">{{role.name}}</td>
					  <td> {{role.description}}

						  <br><br>
					  </td>
					  <td>

						  <router-link :to="{ name: 'manage_users', query : {action : 'edit_role', roleId : role.id}}"> Edit</router-link>
					  </td>
				  </tr>
				  </tbody>
			  </table>
		</div>
	    <div v-if="role">
			<h3 v-if="!role.id">YOU ARE ADDING A ROLE</h3>
			<h3 v-else>YOU ARE EDITING A ROLE</h3>
			<form id="role" name="role">

				<div class="form-block">
					<strong>Role Detail</strong>
					<hr/>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" placeholder="Enter name" v-model="role.name"/>
								<span class="help is-danger" v-if="roleFormError.name">{{roleFormError.name}}</span>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" class="form-control" id="description" placeholder="Enter description" v-model="role.description"/>
								<span class="help is-danger" v-if="roleFormError.description">{{roleFormError.description}}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" >
							<label >Rights</label>
							<multiselect  id="index" v-model="role.rights" :options="rights" :multiple="true" label="name"
										  track-by="name" placeholder="+ Add Rights">
							</multiselect>
							<span class="help is-danger" v-if="roleFormError.name">{{roleFormError.rights}}</span>
						</div>
					</div>
					<div class="row">

						<div class="col-xs-12">
							<hr>

							<button  class="btn btn-success btn-sm" v-on:click="saveRole($event)">Save Role</button>
							<router-link :to="{ name: 'manage_users', query: {action : 'list'}}"> Cancel</router-link>
							<!-- <button class="btn btn-default btn-sm" v-on:click="cancelRoleForm($event)">Cancel</button> -->

						</div>
					</div>
				</div>
			</form>
		</div>
		  </panel>
		
		</accordion>
                
            </div>
        </div>
    </div>
     
</template>

<script>
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
	import { Multiselect } from 'vue-multiselect';
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'

    var context = {}

    export default({
        data(){
            return {
                 searchResult : [],
                 user : undefined,
                 userId : undefined,
                 successMessage : undefined,
                 successRoleMessage : undefined,
                 formError : {},
                 roles : undefined,
                 loginVisibleNodes : [],
				 rights : [],
				 role : undefined,
                 roleFormError : {},
				 action : 'list'
            }
        },
        components: {
            accordion,
            panel,
            Multiselect,
			tab,
			tabs
        },
        beforeMount(){
            context = this
            context.loadPage()

        },
        watch : {
        	'$route' (to, from){
                context.loadPage()
        	}
        },

        methods: {

           loadPage : function () {

               context.resetPage();
               context.action = context.$route.query.action

               if(context.action === 'edit_user'){
                   context.getSelectedUser()
                   context.getRoles()

			   }
               else if(context.action === 'edit_role'){
                   context.getRole()
                   context.getAllUsers()
			   }
			   else if (context.action === 'new_user') {
                   context.loadNodes()
				   context.showNewUserForm()
                   context.getRoles()
               }

			   else if(context.action === 'new_role') {
                   context.newRole()
                   context.getAllUsers()
               }

			   else{
                   context.getAllUsers()
                   context.getRoles()
			   }
            },
           getSelectedUser : function(){
	           context.userId = context.$route.query.id;

	           if(context.userId == undefined) return;

               context.loadNodes()

	          	getHttpAuthenticatedWithLoadingFlag().get("/user/get?userId="+context.userId).then(function (response) {
	                    context.user = response.data;
	                    context.formError = {};
	                    context.successMessage = undefined;
	                    console.log(context.user);
	                }).catch(function (e) {
	                    console.log(e);
	                });

                context.getRoles();
          },

          getRoles : function(){
			  getHttpAuthenticatedWithLoadingFlag().get("/users/roles").then(function (response) {
                    context.roles = response.data;
                }).catch(function (e) {
                    console.log(e);
                });
          },

		  getAllUsers : function(event){
              if(context.userId || context.$route.query.newuser !== undefined) return;

			    getHttpAuthenticatedWithLoadingFlag().get("/users/users").then(function (response) {
					context.searchResult = response.data;
				}).catch(function (e) {
					console.log(e);
				});
		  },

          resetPage : function(event){
          	context.userId = undefined;
          	context.user = undefined;
          	context.successMessage = undefined;
          	context.formError = {};
          	context.role = undefined;
          },

          showNewUserForm : function(event){
				//context.loginVisibleNodes = context.nodes.filter(function(node){  return node.visibleForLogin });
				context.user = {active : true, userNodes: context.loginVisibleNodes};
				context.successMessage=undefined;
				context.formError = {};
          },

          saveUser : function(event){
          		event.preventDefault()
          		if(context.user.id){
          		   context.user.password = context.user.password == "" ? null : context.user.password;
	          		getHttpAuthenticatedWithLoadingFlag().post("/users/updateuser", context.user).then(function (response) {
						context.user = undefined
						context.userId = undefined
                        context.successMessage = 'Login user information updated successfully';
						context.formError = {}
                        context.getAllUsers()
                    }).catch(function (e) {
	                  context.successMessage=undefined;
	                   context.formError = e.response.data
	                })
                }
                else{
                	getHttpAuthenticatedWithLoadingFlag().post("/users/createuser", context.user).then(function (response) {
                        context.user = undefined
                        context.userId = undefined
						context.successMessage = 'New login user created successfully';
	                    context.formError = {}
                        context.getAllUsers()
	                }).catch(function (e) {
	                    context.successMessage=undefined;
	                    context.formError = e.response.data
	                })
                }
          },

		   loadRights : function () {
               getHttpAuthenticatedWithLoadingFlag().get('/users/rights').then(function(response){
                   context.rights = response.data;
               }).catch(function(error){
                   console.log(error)
               })
            },

          loadNodes: function(){
		        getHttpAuthenticatedWithLoadingFlag().get('/get-all-nodes').then(function(response){
		          context.nodes = response.data;
		          context.loginVisibleNodes = context.nodes.filter(function(node){  return node.visibleForLogin });
		        }).catch(function(error){
		          console.log(error)
		        })
	      },

        setRole : function(role){
              context.role = role;
		},

		saveRole : function(){
            event.preventDefault();

			getHttpAuthenticatedWithLoadingFlag().post("/user/role", context.role).then(function (response) {
				context.successRoleMessage = 'Role information saved successfully';
                context.getRoles();
				context.roleFormError = {}
				context.role = undefined
			}).catch(function (e) {
				context.successMessage=undefined;
				context.roleFormError = e.response.data
			});
		},
        getRole : function(){

		    context.successRoleMessage=undefined;

            var roleId = context.$route.query.roleId;

            if(roleId == undefined) return;

            getHttpAuthenticatedWithLoadingFlag().get("/user/role/"+roleId).then(function (response) {
                context.role = response.data;
            }).catch(function (e) {
                context.successRoleMessage=undefined;
                context.roleFormError = e.response.data
            });
		},
		cancelRoleForm : function(event){
			context.role = undefined;
			context.$router.replace('/users');
		},
		newRole : function(){
            context.loadRights()
            context.setRole({})
		}


      }
    })
</script>

<style>
.form-block{
    padding: 12px 24px 12px 30px;
    margin: 1em 0;
    border-left-width: 4px;
    background-color: #f8f8f8;
    position: relative;
    }

	.multiselect__tag {
		font-size : 12px;
	}

	.action-success-message{
		color: #09c709;
		padding-left: 12px;
		font-weight: bold;
	}
</style>