<template>
    <div class="container">
        <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
               :message="alertMessage" :closeHandler="closeDialog"></alert>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label >First Name</label>
                    <input class="form-control" :value="emPatientRecord.client.firstName" disabled>
                </div>

                <div class="form-group">
                    <label >Last Name</label>
                    <input class="form-control" :value="emPatientRecord.client.lastName" disabled>
                </div>

                <div class="form-group">
                    <label >ART Number</label>
                    <input class="form-control" :value="emPatientRecord.client.artNumber" disabled>
                </div>

                <div class="form-group">
                    <label >NRC Number</label>
                    <input class="form-control" :value="emPatientRecord.client.nrcNumber" disabled>
                </div>
            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <label>Date</label>
                    <br>
                    <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                </div>
                <div class="form-group">
                    <label >Dispenser</label>
                    <select v-model="dispenserId" name="cmb-dispenser" id="" class="form-control">
                        <option v-for="user in users" :value="user.id" :key="user.id">{{ user.firstname + " " + user.lastname }}</option>
                    </select>
                </div>
            </div>
            <!-- beginning of accordion for vitals -->
            <div class="col-md-6">
                <vitals :vitals="vitals" :cd4Count="cd4Count" :viralLoad="viralLoad"></vitals>
            </div>
            <!-- end of accordion for vitals -->
        </div>

        <!--Start of transaction components -->
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <!-- start of product table -->
                <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="'EM'"></products-table>
                <!-- end of product table -->
            </div>
            <div class="col-sm-8 col-md-8">
                <transaction-product-batch :selectedProduct="selectedProduct" :transactionHandler="saveDispensation"
                                           :showProductBalances="true"
                                           :primaryButtonCaption="'Dispense'"></transaction-product-batch>
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment'
    import datepicker from 'vue-strap/src/Datepicker'
    import vitals from './dispensation/Vitals'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import AlertMixin from '../../mixins/AlertMixin'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated, getHttpAuthenticatedWithCallBack} from '../../assets/js/http_with_token'

    var context = {}
    export default{
        props:{
            client: {
                type: Object
            }
        },
        data(){
            return {
                showChangeRegimenModal: false,
                showChangeDosageModal: false,
                showSuccessAlert: false,
                showErrorAlert: false,
                alertTitle: 'Dispensation',
                alertMessage:'',
                facilityClient: {},
                selectedProduct:{},
                emPatientRecord: {
                    appointmentDate: '',
                    client:{},
                    defaultCombo: {},
                    facilityClientCD4Count: {},
                    facilityClientViralLoad: {},
                    facilityClientVitals: {},
                    products: {},
                    regimenCombos: []
                },
                users:[],
                dispenserId: this.$store.state.persistedState.user.id,
                baseProductList: [],
                filteredList: [],
                txnDate: this.today(),
                dateFormat: 'dd-MMM-yyyy',
                productBalances:[],
                transactionProducts:[],
                emDispensationRequest:{
                    node: '',
                    dispensationItems:[],
                    userId: '',
                    productComboId:'',
                    dispensationDate:'',
                    clientId:'',
                    dispenserId:''
                }
            }
        },
        mixins:[
            NodeProductDateBalanceMixin, AlertMixin
        ],
        components: {
            'datepicker': datepicker,
            'vitals': vitals
        },
        beforeMount(){
            context = this
            context.loadUsers()
            context.loadProductBalances()
        },
        mounted(){
            if(!context.isEmpty(context.client)){
                context.facilityClient = context.client
                context.getPatientRecord()
            }
        },
        watch: {
            client: function (newValue) {
                if (newValue !== undefined && !context.isEmpty(newValue)) {
                    context.facilityClient = newValue
                    context.getPatientRecord()
                }
            }
        },
        computed: {
            vitals(){
                return context.emPatientRecord.facilityClientVitals !== null ? context.emPatientRecord.facilityClientVitals : {}
            },
            cd4Count(){
                return context.emPatientRecord.facilityClientCD4Count !== null ? context.emPatientRecord.facilityClientCD4Count : {}
            },
            viralLoad(){
                return context.emPatientRecord.facilityClientViralLoad !== null ? context.emPatientRecord.facilityClientViralLoad : {}
            }
        },
        methods:{
            loadProductBalances(){
                console.log("Loading balances...")
                context.loadNodeProductDateBalances( context.txnDate,
                    context.$store.state.persistedState.node.id, 1)//TODO:remove hard coded value
            },
            getPatientRecord(){
                getHttpAuthenticatedWithLoadingFlag().get('/rest-api/arv/client/' + context.facilityClient.artNumber+ '/' + context.$store.state.persistedState.node.id)
                    .then(function(response){
                        context.emPatientRecord = response.data
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            },
            loadUsers(){
                getHttpAuthenticated().get('/users/users').then(function(response){
                    context.users = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
            },
            saveDispensation(transactionProducts){


                context.emDispensationRequest.node = context.$store.state.persistedState.node
                context.emDispensationRequest.programId = 1

                var txnPrd = {}

                for(var i=0;i<transactionProducts.length;i++){
                    txnPrd = transactionProducts[i]
                    context.emDispensationRequest.dispensationItems.push({
                        txnProduct: txnPrd
                    })
                }

                context.emDispensationRequest.userId = context.$store.state.persistedState.user.id
                context.emDispensationRequest.dispensationDate = (context.txnDate ? context.parseDate(context.txnDate, 'DD-MMM-YYYY') : new Date().getTime())
                context.emDispensationRequest.clientId = context.emPatientRecord.client.id
                context.emDispensationRequest.dispenserId = context.dispenserId


                getHttpAuthenticatedWithLoadingFlag()
                    .post("/dispense-em",  context.emDispensationRequest).then(function (response) {
                    context.alertMessage = 'Dispensation successfully saved!'
                    context.showSuccessAlert = true
                    context.$store.dispatch('setTransactionProducts',[])
                    context.transactionProducts = []
                    context.loadProductBalances()
                    context.selectedProduct = {}
                }).catch(function (error) {
                    context.alertMessage = 'Sorry An error has occurred!'
                    context.showErrorAlert = true
                })

            }
        }
    }
</script>
