<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> HIV Tests
                            </li>
                        </ol>
                    </div>
                </div>

                <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeDialog"></alert>

                <changekits :show="showChangeTestKits"
                            :closedHandler="hideChangeTestKitsModal"
                            :saveKitsHandler="onChangeTestKits"
                            :currentScreeningTestKit="screeningProduct"
                            :currentConfirmatoryTestKit="confirmatoryProduct"></changekits>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                            <br>
                                            <br>
                                            <button @click="showChangeTestKitsModal()" v-if="hasPermission('CHANGE HIV TEST KITS')" class="btn btn-xs btn-default">

                                                <i class="fa fa-edit"></i>
                                                Change Kits</button>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Screening Product</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input v-model="screeningProductName" class="form-control" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Product Batch</label>
                                                    <select v-model="currentScreeningProduct" class="form-control">
                                                        <option v-for="scrPrdBatch in screeningProductBatches":value="scrPrdBatch">{{scrPrdBatch.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Available Balance</label>
                                                    <input v-model="currentScreeningProduct.balance" class="form-control" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Confirmatory Product</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input v-model="confirmatoryProductName" class="form-control" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Product Batch</label>
                                                    <select v-model="currentConfirmatoryProduct" class="form-control">
                                                        <option v-for="confPrdBatch in confirmatoryProductBatches" :value="confPrdBatch">{{confPrdBatch.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Available Balance</label>
                                                    <input v-model="currentConfirmatoryProduct.balance" class="form-control" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Test
                                </h4>
                            </div>
                            <form>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Client Number
                                                </label>
                                                <input :value="paddedClientNumber" class="form-control">
                                                <input type="hidden" v-model="clientNumber" class="form-control">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="cmdTestPurpose">
                                                    Test Purpose
                                                </label>
                                                <select v-validate="'required'" name="Test Purpose" v-model="purpose" id="cmdTestPurpose" class="form-control">
                                                    <option value="VCT">VCT</option>
                                                    <option value="PMTCT">PMTCT</option>
                                                    <option value="QC">Quality Control</option>
                                                    <option value="OTHER">OTHER</option>
                                                </select>
                                                <span v-show="errors.has('Test Purpose')" class="help is-danger">{{ errors.first('Test Purpose') }}</span><br>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                Screening Result
                                            </label>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrReactive">
                                                        <input id="rbScrReactive" type="radio" v-model="screeningResult" value="REACTIVE" /> Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrNonReactive">
                                                        <input id="rbScrNonReactive" type="radio" v-model="screeningResult" value="NON_REACTIVE" /> Non Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrInvalid">
                                                        <input id="rbScrInvalid" type="radio" v-model="screeningResult" value="INVALID" /> Invalid
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label >
                                                Confirmatory Result
                                            </label>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfReactive">
                                                        <input id="rbConfReactive" type="radio" v-model="confirmatoryResult" value="REACTIVE" /> Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfNonReactive">
                                                        <input id="rbConfNonReactive" type="radio" v-model="confirmatoryResult" value="NON_REACTIVE" /> Non Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfInvalid">
                                                        <input id="rbConfInvalid" type="radio" v-model="confirmatoryResult" value="INVALID" /> Invalid
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-sm btn-success" @click="nextTest($event)">
                                                    <i class="fa fa-arrow-circle-right"></i> Next Test</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Results
                                </h4>
                            </div>

                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>Test Purpose</th>
                                        <th>Client Number</th>
                                        <th>Screening Result</th>
                                        <th>Screening Product</th>
                                        <th>Confirmatory Result</th>
                                        <th>Confirmatory Product</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="result in results">
                                        <td>{{result.purpose}}</td>
                                        <td>{{result.clientNumber}}</td>
                                        <td>{{result.screeningResult}}</td>
                                        <td>{{result.screeningProduct}}</td>
                                        <td>{{result.confirmatoryResult}}</td>
                                        <td>{{result.confirmatoryProduct}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import datepicker from 'vue-strap/src/Datepicker'
    import radio from 'vue-strap/src/Radio'
    import changekits from './hivtest/ChangeKits'
    import AlertMixin from '../../mixins/AlertMixin'
    import NodeProductMixin from '../../mixins/NodeProducts'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag,
        getHttpAuthenticatedWithCallBack} from '../../assets/js/http_with_token'
    var context = {}
    export default{
        data(){
            return {
                txnDate: this.today(),
                dateFormat: 'dd-MMM-yyyy',
                alertTitle: 'HIV Test',
                alertMessage:'',
                showSuccessAlert: false,
                showErrorAlert: false,
                screeningResult:'',
                confirmatoryResult:'',
                clientNumber: 1,
                purpose: 'VCT',
                results:[],
                screeningProduct:{},
                confirmatoryProduct:{},
                screeningProductName: '',
                confirmatoryProductName: '',
                screeningProductBatches:[],
                confirmatoryProductBatches:[],
                currentScreeningProduct:{},
                currentConfirmatoryProduct:{},
                productBalances: [],
                baseProductList:[],
                showChangeTestKits: false
            }
        },
        components:{
            'datepicker': datepicker,
            'radio': radio,
            changekits
        },
        beforeMount(){
            context = this
            context.loadNodeProducts(context.$store.state.persistedState.node.id,
                "HIV")
            context.getTestKitsAvailability()
            context.loadProductBalances()
        },
        mixins:[
            AlertMixin, NodeProductDateBalanceMixin, NodeProductMixin
        ],
        computed:{
            paddedClientNumber(){
                return context.clientNumber.toString().padStart(4,"0")
            }
        },
        methods:{
            nextTest(event){
                event.preventDefault()
                context.$validator.validateAll().then(function(result) {
                    if (result) {
                        if(context.currentScreeningProduct.balance>0 && context.currentConfirmatoryProduct.balance>0){

                            var hivTest = {
                                purpose: context.purpose,
                                clientNumber: context.paddedClientNumber,
                                screeningResult: context.screeningResult,
                                screeningProduct: context.currentScreeningProduct.name,
                                confirmatoryResult: context.confirmatoryResult,
                                confirmatoryProduct: context.currentConfirmatoryProduct.name,
                                screeningTxnProgramProductBatch:{
                                    programProductBatchId: context.currentScreeningProduct.id,
                                    quantity: 1
                                },
                                confirmatoryTxnProgramProductBatch: {
                                    programProductBatchId: context.currentConfirmatoryProduct.id,
                                    quantity: 1
                                }
                            }


                            var hivTestRequest = {
                                hivTest : hivTest,
                                userId: context.$store.state.persistedState.user.id,
                                node: context.$store.state.persistedState.node,
                                date: (context.txnDate ? context.parseDate(context.txnDate, 'DD-MMM-YYYY') : new Date().getTime())
                            }

                            getHttpAuthenticatedWithLoadingFlag().post('/rest-api/hiv/hiv-test', hivTestRequest)
                                .then(function(response){
                                    context.toNextTest(hivTest)
                                    context.loadProductBalances()
                                })
                                .catch(function(error){
                                    context.alertMessage = 'Failed to do test!'
                                    context.showErrorAlert = true
                                })

                        }else{
                            context.alertMessage = 'Awwch! Trying to test with a zero balance!'
                            context.showErrorAlert = true
                        }
                    }
                })

            },
            getTestKitsAvailability(){
                getHttpAuthenticated().get("/hiv-test-product-availability?nodeId="+
                    context.$store.state.persistedState.node.id).then(function(response) {
                    context.screeningProduct = response.data.screeningProductAvailability
                    context.confirmatoryProduct = response.data.confirmatoryProductAvailability
                    context.screeningProductName = context.screeningProduct.product.primaryname
                    context.confirmatoryProductName = context.confirmatoryProduct.product.primaryname
                    context.getProductBatchByProductCode(context.setScreeningProductBatches, context.screeningProduct.product.code)
                    context.getProductBatchByProductCode(context.setConfirmatoryProductBatches, context.confirmatoryProduct.product.code)
                }).catch(function(err){
                    console.log(err)
                });
            },
            setScreeningProductBatches(screeningProductBatches){
                var productCode = context.screeningProduct.product.code
                var screeningProductBalances = context.productBalances[productCode].nodeProgramProductBatchBalances
                var batchBalance = null
                screeningProductBatches.forEach(function(screeningProductBatch){
                    batchBalance = screeningProductBalances.find( function (screeningProductBalance){
                        return screeningProductBatch.id === screeningProductBalance.nodeProgramProductBatch.programProductBatchId
                    })
                    screeningProductBatch.balance = batchBalance.usableBalance
                })
                context.screeningProductBatches = screeningProductBatches
                context.currentScreeningProduct = context.screeningProductBatches[0]
            },
            setConfirmatoryProductBatches(confirmatoryProductBatches){
                var productCode = context.confirmatoryProduct.product.code
                var confirmatoryProductBalances = context.productBalances[productCode].nodeProgramProductBatchBalances
                var batchBalance = null
                confirmatoryProductBatches.forEach(function(confirmatoryProductBatch){
                    batchBalance = confirmatoryProductBalances.find( function (screeningProductBalance){
                        return confirmatoryProductBatch.id === screeningProductBalance.nodeProgramProductBatch.programProductBatchId
                    })
                    confirmatoryProductBatch.balance = batchBalance.usableBalance
                })
                context.confirmatoryProductBatches = confirmatoryProductBatches
                context.currentConfirmatoryProduct = context.confirmatoryProductBatches[0]
            },
            getProductBatchByProductCode(callback, productCode){
                getHttpAuthenticatedWithCallBack(callback,productCode).get("/rest-api/batch/" + productCode).catch(function(e) {
                    console.log(e)
                })
            },
            loadProductBalances(){
                //TODO: remove hardcoded programId
                context.loadNodeProductDateBalances(context.txnDate, context.$store.state.persistedState.node.id, 2)
            },
            toNextTest(hivTest){
                context.results.push(hivTest)
                context.clientNumber += parseInt(1)
                context.purpose = ''
                context.screeningResult = ''
                context.confirmatoryResult = ''
                context.currentScreeningProduct.balance -= parseInt(1)
                context.currentConfirmatoryProduct.balance -= parseInt(1)
            },
            showChangeTestKitsModal(){
                context.showChangeTestKits = true
            },
            hideChangeTestKitsModal(){
                context.showChangeTestKits = false
            },
            onChangeTestKits(changeTestKitRequest){
                getHttpAuthenticatedWithLoadingFlag().post("/rest-api/hiv/test-kits/change",  changeTestKitRequest)
                    .then(function (response) {
                        context.showChangeTestKits = false
                        context.alertMessage = 'Saved Test Kit Configuration Successfully'
                        context.showSuccessAlert = true
                        context.getTestKitsAvailability()
                        context.loadProductBalances()
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }
        }
    }
</script>