<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Issue Products
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeDialog"></alert>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="loadNodeProductDateBalances()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Program</label>
                                            <select name="cmbPrograms" v-model="currentProgram" id="cmbPrograms" class="form-control" @change="getNodesByProgramId()">
                                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbNodes">Select Node</label>
                                            <select name="cmbNodes" v-model="recipientNode" id="cmbNodes" class="form-control">
                                                <option v-for="node in recipientNodes" v-bind:key="node.id" :value="node.id">{{node.name}}</option>
                               `             </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbUsers">Select Person Receiving</label>
                                            <select name="cmbUsers" id="cmbUsers" class="form-control">
                                                <option v-for="user in users" v-bind:key="user.id" :value="user.id">{{user.firstname + " " + user.lastname}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :selectedProduct="selectedProduct" :transactionHandler="saveIssue"
                                                   :showProductBalances="true"
                                                   :primaryButtonCaption="'Issue'"></transaction-product-batch>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import ProgramsMixin from '../../mixins/Programs'
    var context = {}

    export default {
        data(){
            return {
                currentProgram: 'ARV',
                recipientNode: {},
                txnDate: this.today(),
                dateFormat: 'dd-MMM-yyyy',
                allNodes : [],
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                users: [],
                issueProductsRequest:
                {
                    store: this.$store.state.persistedState.node,
                    dispensingPoint: {},
                    productsIssued: [],
                    userId: this.$store.state.persistedState.user.id,
                },
                baseProductList: [],
                filteredList: [],
                selectedProduct:{},
                alertTitle: 'Stock Management',
                alertMessage:'',
                showSuccessAlert: false,
                showErrorAlert: false,
                productBalances: []
            }
        },
        beforeMount(){
            context = this
            context.loadAllNodes()
            context.loadNodePrograms()
            context.loadPrograms()
            context.loadUsers()
        },
        components:{
            datepicker
        },
        mixins:[
            AlertMixin, NodeProductDateBalanceMixin, ProgramsMixin
        ],
        computed:{
            recipientNodes(){
                var myNodeId = this.$store.state.persistedState.node.id
                if(context.currentProgram.id === undefined){
                    return []
                }
                return context.allNodes.filter(function(node){
                    return !node.isVirtual && !node.isExternal && node.id !== myNodeId
                })
            },
        },
        methods:{
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.txnDate,
                    context.$store.state.persistedState.node.id, context.currentProgram.id)
            },
            loadAllNodes: function(){
                getHttpAuthenticated().get('/get-all-nodes').then(function(response){
                    context.allNodes = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadUsers: function(){
                getHttpAuthenticated().get("/users/users").then(function(response) {
                    context.users = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            getNodesByProgramId: function(){
                context.loadProductBalances()
                getHttpAuthenticatedWithLoadingFlag().get("/get-nodes-by-program/"+context.currentProgram.id).then(function(response) {
                    context.allNodes = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
            },
            saveIssue:function(transactionProducts){
                context.issueProductsRequest.txnDate = (context.txnDate ? context.parseDate(context.txnDate, 'DD-MMM-YYYY') : new Date().getTime())
                console.log("Recipient Node => " + JSON.stringify(context.recipientNode))
                context.issueProductsRequest.dispensingPoint = {
                    id: context.recipientNode
                }
                context.issueProductsRequest.productsIssued = transactionProducts
                if(context.issueProductsRequest.productsIssued.length == 0){
                    context.alertMessage = 'Sorry an error has occurred!'
                    context.showErrorAlert = true
                }else{
                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/node/products/issue",
                        context.issueProductsRequest).then(function(response) {
                        context.alertMessage = 'Products issued successfully!'
                        context.showSuccessAlert = true
                        context.transactionProducts = []
                        context.$store.dispatch('setTransactionProducts',[])
                        context.loadProductBalances()
                        context.selectedProduct = {}
                    }).catch(function(e) {
                        context.alertMessage = 'Sorry an error has occurred!'
                        context.showErrorAlert = true
                    })
                }
                context.$store.dispatch('setTransactionProducts',[])
            }
        }
    }
</script>
