<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Receive Products
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccessAlert" :showErrorAlert="showErrorAlert" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeDialog"></alert>
                <div class="well well-sm">
                    <div class="row">
                        <form>
                            <div class="container">
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Product Source</label>
                                        <select v-validate="'required'" name="productsource" v-model="productSourceSelected" class="form-control">
                                            <option v-for="productSource in productSources" :key="productSource.id" :value="productSource.id">{{productSource.sourcename}}</option>
                                        </select>
                                        <span v-show="errors.has('productsource')" class="help is-danger">{{ errors.first('productsource') }}</span>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Program</label>
                                        <select v-validate="'required'" name="program2" v-model="currentProgramCode" class="form-control">
                                            <option v-for="program in myPrograms" :key="program.id" :value="program.code">{{program.name}}</option>
                                        </select>
                                        <span v-show="errors.has('program2')" class="help is-danger">{{ errors.first('program2') }}</span>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <br>
                                        <datepicker v-model="txnDate" :format="dateFormat"></datepicker>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Dispatch Number</label>
                                        <input  v-validate="'required'" name="dispatchNumber" v-model='dispatchNo' type="text" class="form-control" placeholder="Dispatch # here">
                                        <span v-show="errors.has('dispatchNumber')" class="help is-danger">{{ errors.first('dispatchNumber') }}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :selectionHandler="productSelected" :programArea="currentProgramCode"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :transactionType="'RECEIVING'" :selectedProduct="selectedProduct" :transactionHandler="saveReceipt" :primaryButtonCaption="'Receive'"></transaction-product-batch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Paginate from 'vuejs-paginate'
    import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import FacilityApprovedProducts from '../../mixins/FacilityApprovedProducts'
    import Programs from '../../mixins/Programs'
    import ProductSources from '../../mixins/ProductSources'
    import Facility from '../../mixins/Facility'
    import AlertMixin from '../../mixins/AlertMixin'

    var context = {}
    export default ({
        data() {
            return {
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                productSources: [],
                alertTitle: 'Stock Management',
                alertMessage:'',
                showSuccessAlert: false,
                showErrorAlert: false,
                http_errors: [],
                currentProgramCode: 'ARV',
                productSourceSelected: '',
                txnDate: this.today(),
                dispatchNo: '',
                dateFormat: 'dd-MMM-yyyy',
                receiveProductsRequest:
                    {
                        store: this.$store.state.persistedState.node,
                        productsReceived: [],
                        userId: this.$store.state.persistedState.user.id,
                        productSourceId: 0
                    },
                productCode: '',
                productName: 'test',
                batchNumber: '',
                expiryDate: '',
                quantity: '',
                remark: '',
                receivedProducts:[],
                selectedProduct: {}
            }
        },
        mixins:[
            Facility,
            Programs,
            ProductSources,
            AlertMixin
        ],
        beforeMount () {
            context = this
            context.loadProductSources()
            context.loadNodePrograms()
            context.loadPrograms()
        },
        components: {
            'paginate': Paginate,
            'datepicker': datepicker
        },
        computed:{
        },
        methods: {
            clearForm: function(){
                context.search = ''
                context.pageSize = 10
                context.txnDate = new Date().toString()
                context.dispatchNo = ''
                for( var index = 0; index < this.baseProductList.length; index++){
                    var product = this.baseProductList[index]
                    product.quantity = ''
                }
            },
            productSelected: function(selectedProduct){
                context.selectedProduct = selectedProduct
                context.productCode = selectedProduct.productCode
                context.productName = selectedProduct.productName
            },
            saveReceipt: function(transactionProducts){
                context.$validator.validateAll().then(function(result){
                    console.log('validation result ' + result)
                    if(result){
                        context.receiveProductsRequest.txnDate = (context.txnDate ? context.parseDate(context.txnDate, 'DD-MMM-YYYY') : new Date().getTime())
                        context.receiveProductsRequest.dispatchNo = context.dispatchNo
                        context.receiveProductsRequest.productSourceId = context.productSourceSelected
                        context.receiveProductsRequest.productsReceived = transactionProducts
                        if(context.receiveProductsRequest.productsReceived.length == 0){
                            context.showErrorAlert = true
                            context.alertMessage = 'You have not entered any quantities!'
                        }else{
                            getHttpAuthenticatedWithLoadingFlag().post("/rest-api/store/receipt",
                                context.receiveProductsRequest).then(function(response) {
                                context.transactionProducts = []
                                context.$store.dispatch('setTransactionProducts',[])
                                context.showSuccessAlert = true
                                context.alertMessage = 'Products saved successfully!'

                            }).catch(function(e) {
                                context.showErrorAlert = true
                                context.alertMessage = 'Sorry an error has occurred!'
                            })
                        }
                    }
                })
            }
        }
    })
</script>