<template>
</template>
<script>
    import {getHttpAuthenticated} from '../assets/js/http_with_token'
    import {_} from 'vue-underscore';
    import store from '../store'
    import FacilityApprovedProductMixin from  '../mixins/FacilityApprovedProducts'
    import ProgramProductMixin from  '../mixins/ProgramProducts'

    var context = {}
    export default{
        beforeMount(){
            context = this
            context.loadFacilityApprovedProducts();
        },
        mixins: [FacilityApprovedProductMixin, ProgramProductMixin],
        methods: {
            toOfflineRequisitionLineItemBeanList: function (programCode) {


                var lineItems = context.rnr.requisitionLineItems;
                getHttpAuthenticated().get("/rest-api/products-in-program/" + programCode).then(function (response) {
                    var programProducts = response.data;
                    var facilityApprovedProducts = context.baseProductList;

                    var blankOfflineRequisitionLineItems = [];
                    for (var i = 0; i < facilityApprovedProducts.length; i++) {
                        var product = facilityApprovedProducts[i];
                        if (lineItems !== null && lineItems !== undefined) {
                            var offlineRequisitionLineItem = _.find(lineItems, function (item) {
                                return item.productId === product.productId;
                            });
                        }

                        if (offlineRequisitionLineItem == null || offlineRequisitionLineItem == undefined) {
                            var programProduct = _.find(programProducts, function (pp) {
                                return pp.productid === product.productId;
                            });


                            if (programProduct !== null && programProduct !== undefined) {


                                offlineRequisitionLineItem = {
                                    productId: product.productId,
                                    productName: product.productName,
                                    productCode: product.productCode,
                                    beginningBalance: 0,
                                    quantityReceived: 0,
                                    quantityDispensed: 0,
                                    stockOnHand: 0,
                                    stockOutDays: 0,
                                    nwPatientCount: 0,
                                    qantityRequested: 0,
                                    amc: 0,
                                    normalizedConsumption: 0,
                                    calculatedOrderQuantity: 0,
                                    maxStockQuantity: 0,
                                    totalAdjustment: 0,
                                    dispensingUnit: product.dispensingUnit,
                                    maxMonthsOfStock: product.maxMonthOfStock,
                                    packSize: product.packSize,
                                    dosesPerMonth: programProduct.dosespermonth,
                                    dosesPerDispensingUnit: programProduct.product.dosesperdispensingunit,
                                    qantityApproved: 0,
                                    fullSupply: programProduct.product.fullsupply,
                                    reasonForRequestedQuantity: "SDP submission!",
                                    selected: false
                                };
                                blankOfflineRequisitionLineItems.push(offlineRequisitionLineItem);
                            }

                        } else {
                            offlineRequisitionLineItem.selected = true;
                            blankOfflineRequisitionLineItems.push(offlineRequisitionLineItem);
                        }

                    }
                    context.lineItems = blankOfflineRequisitionLineItems
                    console.log(JSON.stringify("programCode is " + blankOfflineRequisitionLineItems))
                    context.blankOfflineRequisitionLineItems = blankOfflineRequisitionLineItems;
                }).catch(function (e) {
                    context.http_errors.push(e)
                })


            },
            loadRnrAdjustments: function () {

                var lineItems = context.rnr.requisitionLineItems;
                if (lineItems !== null && lineItems !== undefined) {

                    for (var i = 0; i < lineItems.length; i++) {
                        var lineItem = lineItems[i];
                        var adjustements = lineItem.rliLossesNAdjustments;
                        if (adjustements !== null && adjustements !== undefined) {
                            var totalAdjustment = 0;
                            for (var j = 0; j < adjustements.length; j++) {
                                var adjType = _.find(context.adjustmentTypeList, function (adj) {
                                    return adj.name === adjustements[j].lossesAndAdjustmentType;
                                })
                                adjustements[j].adjustmentType = adjType;
                                adjustements[j].additive = adjType.additive;
                                if (adjType.additive) {
                                    totalAdjustment += adjustements[j].quantity;
                                } else {
                                    totalAdjustment -= adjustements[j].quantity;
                                }

                            }
                            lineItem.totalAdjustment = totalAdjustment;
                        }
                        lineItem.selected = true;

                    }
                    context.lineItems = lineItems;
                    context.setPrevAmcAndDispense();
                }
            }

            , generateRnr: function (programCode, periodId) {

                var emergency = context.rnr == undefined || context.rnr.chkEmergency == undefined || context.rnr.chkEmergency == false || context.rnr.chkEmergency == 'false' ?
                    false : true;
                var lineItems = context.rnr.requisitionLineItems;
                var par = "?" + "facilityId=" + context.rnr.facilityId + "&&" +
                    "programId=" + context.rnr.programId + "&&" +
                    "periodId=" + periodId + "&&" +
                    "sourceApplication=" + null + "&&" +
                    "emergency=" + emergency


                getHttpAuthenticated().post("/rest-api/interfacing/initiate-rnr" + par).then(function (response) {

                    console.log("here is the output " + JSON.stringify(response.data))
                    if (response.data !== null && response.data !== undefined && response.data !== "") {
                        context.rnr.id = response.data.id;
                        context.rnr.synced = response.data.synced;
                        context.rnr.agetntCode = response.data.facilityId;
                        context.rnr.dmInstance = response.data.dmInstance;
//                        context.rnr.approverName = response.data.approverNameresponse;
//                        context.rnr.sourceApplication = response.data.sourceApplicationresponse;
//                        context.rnr.synched = true;
                        var products = response.data.requisitionLineItems;

                        context.setPrevAmcAndDispense();

                        if (context.rnr.synced) {
                            context.lineItems = products;
                            context.activeTab = 1
                        } else {
                            context.showConfirmation = true;
                            context.products=products;
                        }
                    } else {
                        context.showConfirmation = true;

                    }

                    console.log("the Line items are:::: " + JSON.stringify(context.rnr))

                }).catch(function (e) {
                    context.http_errors.push(e)
                })


            },
            generateRnrOffline: function (programCode, periodId) {
                context.rnr.synced = false;
                var emergency = context.rnr == undefined || context.rnr.chkEmergency == undefined || context.rnr.chkEmergency == false || context.rnr.chkEmergency == 'false' ?
                    false : true;
                var lineItems = context.rnr.requisitionLineItems;
                var par = programCode +
                    "/" + periodId + "/" +
                    emergency + "/MONTHLY"


                getHttpAuthenticated().get("/rest-api/rnr/generation/" + par).then(function (response) {

                    if (response.data !== null && response.data !== undefined && response.data !== "") {
                        context.rnr.agetntCode = response.data.agentCode;
                        context.rnr.approverName = response.data.approverNameresponse;
                        context.rnr.sourceApplication = response.data.sourceApplicationresponse;

                        var products = response.data.products;
                        if (lineItems !== null && lineItems !== undefined) {
                            context.lineItems = []

                            for (var i = 0; i < products.length; i++) {
                                var item = products[i];

                                var lineItem = _.find(lineItems, function (p) {
                                    return p.productCode === item.productCode;
                                })
                                if (lineItem === null || lineItem === undefined) {
                                    context.lineItems.push(item);
                                } else {
                                    var adjustements = lineItem.rliLossesNAdjustments;
                                    if (adjustements !== null && adjustements !== undefined) {
                                        var totalAdjustment = 0;
                                        for (var j = 0; j < adjustements.length; j++) {
                                            var adjType = _.find(context.adjustmentTypeList, function (adj) {
                                                return adj.name === adjustements[j].lossesAndAdjustmentType;
                                            })
                                            adjustements[j].adjustmentType = adjType;
                                            adjustements[j].additive = adjType.additive;
                                            if (adjType.additive) {
                                                totalAdjustment += adjustements[j].quantity;
                                            } else {
                                                totalAdjustment -= adjustements[j].quantity;
                                            }

                                        }
                                        lineItem.totalAdjustment = totalAdjustment;
                                    }
                                    lineItem.selected = true;
                                    context.lineItems.push(lineItem);
                                }
                            }
                        } else {
                            context.lineItems = products;

                        }
                        context.activeTab = 1
                    } else {
                        context.toOfflineRequisitionLineItemBeanList(programCode);
                    }

                    console.log("the loaded" + JSON.stringify(context.rnr))

                }).catch(function (e) {
                    context.http_errors.push(e)
                })


            },
            searchRnrs: function () {

                var facilityId = context.searchQueryObject.facilityId.id;
                var programId = context.searchQueryObject.programCode.id;
                var emergency = context.searchQueryObject.rnrType === 'Regular' ? false : true;
                var par = " " + programId + "/" + facilityId + "/" + emergency;
                getHttpAuthenticated().get('/rest-api/offline-rnr/rnr/monthly/' + par).then(function (response) {
//                getHttpAuthenticated().get('/rest-api/offline-rnr/rnr/monthly/' + context.searchQueryObject.periodId.id).then(function (response) {
                    context.fromServer = response.data.fromServer[0];
                    context.dmInstallation = response.data.dmInstallation[0];
                    if (context.fromServer) {
                        context.searchResult = response.data.mappedRequistions;
                    } else {
                        context.searchResult = response.data.requisitions;
                    }
                    context.periods = response.data.periods;

                    console.log(JSON.stringify(response.data))

                }).catch(function (error) {
                    console.log(error)
                })
            },
            synch: function () {

                var lineItems = context.rnr.requisitionLineItems;
                console.log(JSON.stringify(context.rnr))
                getHttpAuthenticated().post('/rest-api/offline-rnr/sync', context.rnr).then(function (response) {

                    console.log(JSON.stringify(response.data))
                    if (response.data !== null && response.data !== undefined && response.data !== "" && response.data.synced) {
                        context.rnr.id = response.data.id;
                        context.rnr.synced = response.data.synced;
                        context.rnr.agetntCode = response.data.facilityId;
                        var products = response.data.requisitionLineItems;
                        context.rnr.requisitionLineItems = products;
                        if (lineItems !== null && lineItems !== undefined) {
                            context.lineItems = products;
                            context.setPrevAmcAndDispense();
                            context.synchResponse.showMessage = true;
                            context.synchResponse.isSuccess = true;
                            context.synchResponse.messageType = "SUCCESS";
                            context.synchResponse.message = "R&R Synchronized Successfully !";
                        }
                    } else {
                        context.synchResponse.showMessage = true;
                        context.synchResponse.isSuccess = false;
                        context.synchResponse.messageType = "ERROR";
                        context.synchResponse.message = "R&R Synchronization Failed ! Try Again Later!";
                    }

                }).catch(function (error) {
                    console.log(error)
                    context.synchResponse.showMessage = true;
                    context.synchResponse.isSuccess = false;
                    context.synchResponse.messageType = "ERROR";
                    context.synchResponse.message = "R&R Synchronization Failed ! Try Later Again !";
                })

            },
            setPrevAmcAndDispense: function () {

                _.each(context.lineItems, function (li) {
                    li.prevQuantityDispensed = li.quantityDispensed;
                    li.prevAmc = li.amc;
                });
                context.rnr.agetntCode = context.rnr.agetntCode;

            }

        }
    }
</script>