<template></template>
<script>
    import {getHttpAuthenticated} from '../assets/js/http_with_token'
    var context = {}
    export default{
        beforeMount(){
            context = this

        },
        methods:{
            loadPeriods: function(){
                getHttpAuthenticated().get("/rest-api/facility/all-periods/MONTHLY").then(function(response) {
                    context.periods = response.data

                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            }
        }
    }
</script>