<template>
</template>
<script>
    import {getHttpAuthenticated} from '../assets/js/http_with_token'
    import store from '../store'
    var context = {}
	export default{
        beforeMount(){
          context = this
        },
		methods : {
            loadProgramProducts: function(programCode){
                var programProducts;
                getHttpAuthenticated().get("/rest-api/products-in-program/" + programCode).then(function(response) {
                    var programProducts = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })

                return programProducts;
            }
        }
	}
</script>